.action-guide-v2-tabs {
  .step-label {
    text-align: center;
    width: calc(33.33333% - 2px);
    margin: 0px;
    &#step-1-label {
      margin-right: 3px;
    }
    &#step-3-label {
      margin-left: 3px;
    }

    &:not(.active) {
      cursor: pointer;
    }
    i {
      padding: 8px 0px;
    }
    .label-copy {
      font-family: "Montserrat";
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      text-decoration: underline;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .active-bar {
      display: block;
      height: 10px;
    }
    &.active {
      background: none !important;
      color: #444444;
    }
  }
}

.action-guide-v2 {
  display: none;
  &.active {
    display: block;
  }

  .tab-nav {
    color: #0F4D90;
    font-family: "Montserrat";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    text-decoration: underline;
    font-weight: 600;
    span, i {
      cursor: pointer;
    }
    .right-nav {
      text-align: right;
      i {
        text-decoration: underline;
      }
    }
    .left-nav {
      text-align: left;
      i {
        text-decoration: underline;
      }
    }
  }
}

.action-guide-v2-cta {
}