.slideshow-container {
    width: 100%;
    height: 540px;
    position: relative;
    margin-bottom: 100px;    

    .mySlides {
        display: none;
        &.active{
            display: block;
        }
    }

    img {
        vertical-align: middle;
        width: 100%;
        height: 540px;
        object-fit: cover;
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        border-radius: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .next {
        right: 0;
    }
    
    .prev {
        left: 0;
    }
    
    .image-gallery-arrows {
        border-radius: 100%;
        padding: 5px;
        font-size: 25px;
        background: white;
        color: black;
        mix-blend-mode: screen;
    }
    
    .image-gallery-arrows:hover {
        background: #444444;
        color: white;
        mix-blend-mode: multiply;
    }
    
    .text {
        font-style: italic;
        font-weight: 700;
        color: #444444;
        line-height: 25px;
        padding: 16px 25px;
        width: 100%;
        background-color: #f0f0f0;
        position: absolute;
        top: 100%;
        z-index: 1;       
    }
    
    .dots {
        width: 100%;
        height: 50px;
        padding: 2px 2px 2px 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        bottom: 0.1px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .dot {
        height: 15px;
        width: 15px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        &.active {
            color: #000000;
            height: 20px;
            width: 20px;
        }
    }
    
    
}