
.series{
    margin-bottom: 95px;
    .card{
        width: 299px;
    }
    .series-img{
        width: 299px !important;
        height: 209px !important;
    }
    h1{
        font-size: 20px;
    }
}
.series.cell{
    margin-bottom: 1rem !important;
}