.guides{
  h1, .h1 {
    font-size: rem-calc(75);
  }
  h2, .h2{
    font-size: rem-calc(45);
  }
  h3, .h3{
    font-size: rem-calc(35);
  }
  h4, .h4{
    font-size: rem-calc(25);
  }
  h5, .h5{
    font-size: rem-calc(20);
  }
  h6, .h6{
    font-size: rem-calc(15);
  }
  .guide-name{
    margin:0 0 0 130px;
  }
  .intro-text{
    font-size: rem-calc(25);
    line-height: 1.8rem;
    margin-bottom: 3rem;
    p {
      margin-bottom: 3rem;
    }
  }
  .page-title h1 {
    font-size: rem-calc(65);
    i {
      font-size: rem-calc(56);
    }
  }
  #guide-hero {
    z-index: 1000;
  }
  .shrink{
    .hero-full .hero-full--container .grid-container{
      height: 7rem;
      transition: height .25s ease;
    }
  }
  #guides-nav{
    height: 100vh;
    overflow-y: scroll;
    ul{
      margin-bottom:1rem;
      padding:0;
      li{
        padding: 1rem 0 1rem 0;
      }
    }
    .is-active{
      background: color(dark-gray);
      padding: 5px;
      color: white;
    }
  }
}