.post {
  p {
    line-height: 1.8rem;
  }
  .post-header {
    h1 {
      margin-bottom: 0;
    }
    @include breakpoint(small only) {
      h1 {
        margin: 0;
      }

      .post-title {
        order: 2;
      }

      .border-bottom-fat {
        order: 3;
      }
      .author{
        &::after{
          content: '';
        }
      }
      .departments{
          display: block;
      }
    }
  }

  .js-thumbnail-image{
    float:right;
    display: none;
    max-width:300px;
    padding: 0 0 1rem 1rem;

    @include breakpoint(small only) {
      @include grid-column-collapse;
      max-width: none;
      padding: 0;
      float:none;
      margin-left: - rem-calc(15);
      margin-right: - rem-calc(15);

    }
  }
  .post-content{
    .js-thumbnail-image{
      display: inline-block;
    }
  }

  .featured-image {
    margin: $spacing-large auto;
    img{
      margin: 0 auto;
    }
    @include breakpoint(small only) {
      padding:0;
    }
  }

}
@include breakpoint(small only) {
  .city-seal{
    max-width:200px;
    height:auto;
  }
}

.border-bottom-fat {
  @include xy-gutters($gutter-position: left right);
  width: 100%;
  border-bottom: 10px solid color(ben-franklin-blue);
  margin-bottom: 0.5rem;
}

.post-meta {
  span {
    &::after {
      display: inline-block;
      content: '|';
      padding: 0 $spacing-small;
    }

    &:last-of-type::after {
      content: '';
    }
  }
}

.social-media {
  text-align: right;
  @include breakpoint(small only) {
    order: 1;
    text-align: center;
    margin: 1rem 0;
  }

  a {
    display: inline-block;
    padding: $spacing-small;
  }

  .fa, .fab, .fal, .far, .fas {
    font-size: 1.5rem;
    @include breakpoint(small only) {
      font-size: 2rem;
    }
  }
}

.translations-container {
  .inline-list {
    width: calc(100% - (36px + 7rem));
    display: flex;
    flex-wrap: wrap;
    li {
      text-align: center;
      flex: 1 0 10%;
      a {
        display: block;
        padding: 1rem;
      }
      &:hover {
        cursor: pointer;
        background: color(dark-ben-franklin);
        a {
          color: #ffffff;
        }
      }
      &.active {
        padding: 1rem;
        color: #ffffff;
        font-weight: 600;
        background: color(dark-gray);
      }
    }
    &.no-dropdown {
      width: calc(100% - 4rem);
      li {
        padding-left: 2rem;
        padding-right: 2rem;
        flex: none;
      }
    }
  }
  .dropdown-container {
    width: auto;
    float: right;
    padding: 1rem 2rem; 
    .dropdown {
      .dropdown-selector {
        padding: 0px 0px 0px 10px !important;
        &:after {
          border-color: #2C60AB transparent transparent !important;
        }
      }
      .is-dropdown-submenu-parent {
        padding: 6px;
      }
      .is-active {
        .dropdown-selector {
          &:after {
            transform: rotate(180deg);
          }
        }
        .js-dropdown-active {
          background: color(ghost-gray);
          margin-top: 20px;
          margin-left: -149px;
          @media screen and (max-width: 660px) {
            width: calc(100vw - 1rem);
            margin: 20px auto 0px auto;
            right: -29px;
          }
          li {
            width: 100%;
            text-align: center;
            a {
              line-height: 1.6;
              padding: 1rem;
            }
            &:hover {
              cursor: pointer;
              background: color(dark-ben-franklin);
              a {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}