.series-grid{
    .series-img{
        height: 209px !important;
    }
    h1{
        font-size: 20px;
    }
}

.series-blockquote {
    // max-width: 700px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}