.accordion-item{
  border-bottom: 5px solid white;
  .accordion-title{
    &::before {
      color:color(dark-ben-franklin)
    }
  }
}

.accordion-item .accordion-title::before{
  border-left:none;
}

.accordion-title.disabled{
  cursor: default;
  color: color(dark-gray);
  &::before {
    content: '';

  }
}

.accordion.commissions a{
  text-transform: none;
}
