#site-wide-alert a,
#site-wide-alert a:visited {
  color:$white;
}
#site-wide-alert a:hover {
  color: $dark-gray;
}

#site-wide-alert.subtle{
  background: $dark-gray;
  text-align: center;
  color:$white;

  @media screen and (min-width: 40em) {
    h2{
      font-size: 1.78571rem;
    }
  }
  .large-9, .large-15{
    width:100%;
  }
  .alert-start, .ionicons{
    display: none;
  }
  a:hover, a:active{
    color:$bell-yellow;
  }

}

.callout{

  &.important {
    background-color: $ghost-gray;
    border-left-color: $flyers-orange;
    margin: $spacing-large 0;
    p {
      color: $dark-gray;
    }
  }
}
