.site-wide-alert {
  background: color(dark-ben-franklin);
  color: white;
  font-family: $body-font-family;
  div {
    font-size:14px;
  }
  a:link, a:visited{
    color: white;
    text-decoration: underline;
    font-size: 14px;
  }
  &.orange {
    background: #F5A623;
    color: color(dark-gray);
    a:link, a:visited{
      color: color(dark-gray);
      text-decoration: underline;
    }
  }
  &.red {
    background: #CC3000;
    color: white;
    a:link, a:visited{
      color: white;
      text-decoration: underline;
    }
  }
}
.voting-banner {
  min-height: 60px;
  background-color: color(ghost-gray);
  .vote-button{
    margin-top: 3px;
    float: left;
  }
  .fas {
    font-size: 28px;
  }
  .vote-deadline {
    font-size: 14px;
  }
  .voting-text {
    display: inline-block;
  }
}