#site-wide-alert a,
#site-wide-alert a:visited {
  color:color(white);
}
#site-wide-alert a:hover {
  color: color(dark-gray);
}

#site-wide-alert.subtle{
  background: color(dark-gray);
  text-align: center;
  color:color(white);

  @media screen and (min-width: 40em) {
    h2{
      font-size: 1.78571rem;
    }
  }
  .large-9, .large-15{
    width:100%;
  }
  .alert-start, .ionicons{
    display: none;
  }
  a:hover, a:active{
    color:color(bell-yellow);
  }

}
