#back-to-top {
  display: none;

  .fa{
    font-size:2.5rem;
  }

  @media screen and (min-width: 1190px) {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    text-transform:uppercase;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    display: block;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
  &.show {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
}
