blockquote {
    border-left: 0px;
    padding-left: 0.7142857143rem;
    padding-right: 0.7142857143rem;
    margin: 0;
    p {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        color: #000;
        margin-left: 3rem;
        margin-bottom: 30px;
        display: inline-block;
        margin-top: -30px;
    }
    &::before {
        content: "“";
        display: inline-block;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: bold;
        font-size: 49px;
        color: #000;
    }
}