@mixin inverse-button(){
  color:white;
  text-align: center;
  &:hover, &:active, &:focus{
    background: color(dark-gray);
  }
}
.button{
  &[class*='content-type']{
    .fa {
      padding-left:.5rem;
    }
  }
  &.content-type-events{
    @include inverse-button();
    background: color(phanatic-green);
  }
  &.content-type-featured{
    @include inverse-button();
    background: color(dark-ben-franklin);
  }
  &.content-type-press-release{
    @include inverse-button();
    background: color(love-park-red);
  }
  &.content-type-post,
  &.content-type-announcement{
    @include inverse-button();
    background: color(pride-purple);
  }
}
