
.single-calendar .simcal-event-details{
  border-bottom:1px solid $dark-gray;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.simcal-default-calendar-light .simcal-nav-button{
  color:$ben-franklin-blue !important;
}

//PLUGIN OVERRIDES
ul.simcal-events{
  margin:0;
  padding:0;
  list-style:none;
}

.month, .day{
  display: inline
}
a[href*="google.com/calendar"]:after{
  font-family: "FontAwesome";
  content: "\f08e";
  font-size: 0.75rem;
  padding: 0 5px;
}

@media only screen and (min-width: 40.063em) {
  .calendar-date{
    text-align:center;
    font-family: 'Montserrat', 'Tahoma', sans-serif;
    color:$white;

    .month{
      background:$ben-franklin-blue;
      display: block;
      text-transform: uppercase;

    }

    .day{
      font-size: 3rem;
      font-weight: bold;
      background:$ben-franklin-blue;
      display: block;
    }
  }
}
