
.single-calendar .simcal-event-details{
  border-bottom:1px solid $medium-gray;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.simcal-default-calendar-light .simcal-nav-button{
  color:$ben-franklin-blue !important;
}

//PLUGIN OVERRIDES
ul.simcal-events{
  margin:0;
  padding:0;
  list-style:none;
}

.month, .day{
  display: inline
}
a[href*="calendar.google.com"]:after{
  font-family: "FontAwesome";
  content: "\f08e";
  font-size: 0.75rem;
  padding: 0 5px;
}

@media only screen and (min-width: 40.063em) {
  .calendar-date{
    text-align:center;

    .month{
      background:$sidewalk;
      color:$white;
      font-weight: bold;
      border:1px solid $sidewalk;
      display: block;
    }
    .day{
      font-size: 1.5rem;
      padding: .85rem 0;
      border:1px solid $sidewalk;
      display: block;
    }
  }
}
