a.card,
.card{
  position: relative;
  margin-bottom:0;
  h1 {
    font-size: rem-calc(25);
    margin: 0;
    color:color(dark-gray);
    word-break: break-word;
  }
  &.program-card{
    border-bottom: none;
    h3, .h3 {
      font-size: 1.4rem;
      margin-top: .5rem;
    }
    .content-block{
      max-width: 500px;
      min-height: 165px;
    }
    &.vertical {
      &.small{
        h3, .h3{
          margin:0;
        }
        .content-block{
          min-height: auto;
          vertical-align: middle;
        }
        @include breakpoint(medium up) {
          img {
            height: 100px;
            width: auto;
          }
        }
      }
      @include breakpoint(medium up) {
        img {
          height: 184px;
          width: auto;
        }
      }
      .content-block{
        display: inline-block;
      }
    }
  }
  &.card--list {
    @include xy-grid;
    border-bottom: none;
    p {
      font-size: 1.1rem;
    }
    @media screen and (min-width: 40em) and (max-width: 62.86em) {
      h1{
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  &.card--action_guide{
    min-height:24rem;
    &:not(.card--last){
      border-bottom:5px solid map-get($post_content_types, action_guide);
    }
  }
  &.card--press_release{
    h1{
      font-size: rem-calc(16);
    }
    &:not(.card--last){
      border-bottom:5px solid map-get($post_content_types, press_release);
    }
  }
  &.card--post{
    &:not(.card--last){
      border-bottom:5px solid map-get($post_content_types, post);
    }
  }
  &.card--featured{
    &:not(.card--last){
      border-bottom:5px solid map-get($post_content_types, featured);
    }
    h1 {
      font-size: rem-calc(16);
    }
  }
  &.card--calendar{
    border-bottom:5px solid map-get($post_content_types, calendar);
  }
  &.card--navigation{
    background: transparent;
    border-bottom: none;

    p{
      line-height: 2rem;
    }
    i {
      font-size: rem-calc(100);
    }
    h3{
      font-size: rem-calc(30);
    }
    @include breakpoint(small only) {
      background: color(ghost-gray);
      .icon-box{
        width:20%;
        padding-top:20%;
        float:left;
        margin-right: 1rem;
      }
      h3{
        font-size: rem-calc(24);
      }
      i {
        font-size: rem-calc(24);
      }
    }
  }
  .post-meta{
    position: absolute;
    bottom:1rem;
  }
  .card-description{
    font-weight: normal;
    p{
      color: color(dark-gray);
    }
  }
  &.card-fixed-height{
    min-height: 120px;
  }
}
.feature-main{
  article, a.card{
    height:100%;
  }
  .card--content{
    height:auto;
  }
}
.feature-more{
  .card--featured{
    &:not(.card--last){
      margin-bottom: 1rem;
    }
  }
}

.card--content,
.type-announcement,
.card--announcement{
  height:100%;
}

a.card.card--last,
.card--last {
  border-bottom: none;
  margin-bottom:5px;
  height:auto;
}

.grid-full-height {
  article, a.card{
    &:not(.card--last) {
      height:100%;
    }
  }
}
a.faux-card {
  h1, .h1{
    font-size: 1.78571rem;
  }
}
.faux-card:link,
.faux-card:visited{
  font-weight: 400;
}

.feature-main a.card h1, .card h1{
  font-size: 1.78571rem;
}

@include breakpoint(medium up) {
  .post-2 .post-label{
    min-height: 280px; //TODO: find a better solution to force date to stay at bottom of card. Currently, the image in this card prevents the flex grid from calcuating the available height correctly.
  }
}


@include breakpoint(small only) {
  .cell{
    //Add breathing room to mobile view
    margin-bottom:1rem;
  }
}

.see-all-card{
  border-bottom:5px solid white;
  h1{
    margin:0;
  }
}
//TODO: Add to standards. It's currently only on medium and up breakpoints but should be for all.
a.card.sub-topic{
  margin-bottom: 4rem;
}

.icon-box{
  width: 100%;
  padding-top: 100%;
  position: relative;
  .icon-content {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}