a.card{
  margin-bottom:0;
  h1 {
    font-size: rem-calc(25);
    margin: 0;
    color:color(dark-gray);
  }
  &.card--list {
    @include xy-grid;
    border-bottom: none;
    p {
      font-size: 1.1rem;
    }
    @media screen and (min-width: 40em) and (max-width: 62.86em) {
      h1{
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  &.card--press_release{
    h1{
      font-size: rem-calc(16);
    }
    &:not(.card--last){
      border-bottom:5px solid color(love-park-red);
    }
  }
  &.card--announcement,
  &.card--post{
    &:not(.card--last){
      border-bottom:5px solid color(pride-purple);
    }
  }
  &.card--featured{
    &:not(.card--last){
      border-bottom:5px solid color(dark-ben-franklin);
    }
    h1 {
      font-size: rem-calc(16);
    }
  }
}
.feature-main{
  article, a.card{
    height:100%;
  }
  .card--content{
    height:auto;
  }
}
.feature-more{
  .card--featured{
    &:not(.card--last){
      margin-bottom: 1rem;
    }
  }
}

.card--content,
.card--announcement,
.type-announcements{
  height:100%;
}

a.card.card--last,
.card--last {
  border-bottom: none;
  margin-bottom:5px;
  height:auto;
}

.grid-full-height {
  article, a.card{
    &:not(.card--last) {
      height:100%;
    }
  }
}
