.collection-posts {
  .card {
    border-bottom: 5px solid #0f4d90;
    height: auto;
    h3 {
      text-decoration: underline;
    }
    .date-published {
      font-size: 1rem;
      color: #0f4d90;
      text-decoration: underline;
    }
  }
}