.custom-text-multi {
  @media only screen and (min-width: 40em) {
    .columns, .cell {
      border-right: 1px solid color(dark-gray);
      padding: 0 0 0 3rem;
      &:last-of-type {
        border-right: 0;
        padding: 0;
      }
    }
  }
}
