/*
 *
 * Department Pages
 *
 *
*/
.department-home, .department-landing{
  //hide secondary page title, we don't need it
  h2.sub-page-title{
    display: none;
  }
}
.department {
  .external-site-link-left,
  .external-site-link-right{
      text-align: center;
  }
  .external-site-link-left{
    @media only screen and (min-width: 40em) {
        text-align: left;
    }
  }
  .external-site-link-right{
    @media only screen and (min-width: 40em) {
        text-align: right;
    }
  }
  .logo {
    img {
      width:100%;
      height:auto;
    }
    text-align:center;
    margin: 0 0 20px 0;
  }

  .contact{
    background:$ghost-gray;
    padding:$spacing-medium;

    aside{
      font-size: 0.85rem;
    }

    .logo{
      padding:1rem 0;
    }
  }

  .inner {
    background:$ghost-gray;
    padding:20px;
  }

  .widget-title {
    font-size:1rem;
    margin-top:0;
    margin-bottom: 0;
  }

  .notices li{
    border-bottom: 1px solid $ghost-gray;
    padding:10px 0;

    &:first-child{
      padding-top: 0;
      padding-bottom: 10px;
    }
    &:last-child{
      padding-bottom: 0;
      border:none;
    }

  }
  .event-box{

    .simcal-day:last-of-type .event-row{
      border-bottom: none;
    }
    .event-row{
      border-bottom:1px solid $ghost-gray;
    }
    .simcal-default-calendar-list{
      padding:0;
    }
    .simcal-default-calendar-list ul.simcal-events li.simcal-event {
      margin-bottom: 0;
    }
  }
  .button.alternate.full{
    margin-bottom: 0;
  }
  section{
    margin-bottom: 1rem;

    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .department-header {
    position: relative;
    overflow:hidden;
    margin: 0 0 $spacing-medium 0;
    .intro{
      position: relative;
      a {
        &:hover {
          color:#a1a1a1;
        }
        &:not(.button) {
          color: #fff;
          text-decoration: underline;
        }
      }
      .sub-head {
        font-weight:normal;
        font-size: 0.85rem;
        font-family: inherit;
        padding-left:0;
      }
    }
    .photo-credit {
      padding: $spacing-extra-small 0;
      font-style: italic;
      // background-color: rgba(0,0,0,.3);
    }
    #header-image {
      width:100%;
    }
    @media screen and (min-width: 40em) {
      .intro {
        position: absolute;
        bottom: 1.5rem;
        left:$spacing-large;;
        color: #fff;
        background: rgba(33,118,210,.9);
        width: 400px;
        padding: 0 $spacing-medium;;
        h1 {
          display: inline-block;
          font-size: 2.5rem;
          line-height: 3rem;
          margin:$spacing-small 0;
          .strong {
            font-size: 3.5rem;
            white-space: pre;
            font-weight: bold;
            text-transform: uppercase;
          }
          .break-after{
            &:after {
              content: '\A';
            }
          }
          .break-before{
            &:before {
              content: '\A';
            }
          }
        }
        .sub-head {
          font-weight:700;
          font-size: 1rem;
          font-family: 'Montserrat', 'Tahoma', sans-serif;
        }
        p {
        font-weight: bold;
        }
      }
      .photo-credit {
        color: $white;
        padding: $spacing-extra-small $spacing-small;
        position:absolute;
        bottom:0;
        right:0;
        text-shadow: 1px 1px 1px $dark-gray;
        // background-color: rgba(0,0,0,.3);
      }
    }
    @media only screen and (min-width: 64em) {
      .intro {
        h1 {
        }
      }
    }
  }

  .featured-content{
    font-size: .95rem;
    position: relative;

    @media screen and (max-width: 39.9375em) {
      text-align: center;
     }

    img{
      max-width: 35%;
      float:left;

      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        max-width: 10%;
        margin-bottom:none;
      }
      @media screen and (min-width: 64em) {
        margin-bottom:3rem;
      }
       @media screen and (max-width: 39.9375em) {
        float:none;
      }
    }


    &.programs {

      @media screen and (max-width: 39.9375em) {
        text-align: center;
        p {
          margin-left: .5rem;
          margin-right: .5rem;
          text-align: left;
        }
      }

      div {
        display:table-cell;
        &.featured-thumbnail {
          float:left;
          @media screen and (max-width: 39.9375em) {
            float:none;
          }
        }
        @media screen and (max-width: 39.9375em) {
          display:inline-block;
        }
      }
      img {
        max-width: 100%;
        float:left;

        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
          max-width: 100%;
          margin-bottom:none;
        }
        @media screen and (min-width: 64em) {
          margin-bottom:0;
        }
      }
      h4{
        font-size: 1.5rem;
      }
    }
  }
}//department
@media screen and (min-width: 40em) {
  .medium-center{
    text-align: center;
  }
}
.department-nav{
  .top-bar, .top-bar ul {
    @media screen and (min-width: 40em){
      background-color:#daedfe;
    }
  }
}
#site-nav  {
  .is-drilldown{
    //we are making this important to override some goofy inline styles foundation is trying to add.
    height: auto !important;
    width:320px !important;
  }

  ul ul{
    background: white;
  }

  .is-drilldown-submenu-parent.current-department_page-ancestor>a::after{
    border-color: transparent transparent transparent #fff;
    border-left-style: solid;
    border-right-width: 0;
  }

  .department-menu{

    .dropdown li{
      border-bottom:1px solid $sidewalk;

      &:last-child{
        border-bottom: none;
      }
    }
    li[class*="current-menu-item"] > a{
      background: $ben-franklin-blue;
      color:$white;
      &:hover{
        color:$black;
      }
    }
  }
}

.post-type-archive-department_page .list li{
  border-bottom: 1px solid $ghost-gray;
  margin: 1rem 0;
}

.connect {
  .panel{
    border: 0;
  }
}
