/*
 *
 * Department Pages
 *
 *
*/
.department-home, .department-landing{
  //hide secondary page title, we don't need it
  h2.entry-title{
    display: none;
  }
}
.department {
  p {
    &.external-site {
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  h1.alternate, h2.alternate, h3.alternate, h4.alternate, h5.alternate, h6.alternate {
    color: $black;
    font-size:.95rem;
  }
  .button.icon .fa{
    background: $sidewalk;
  }
  .external-site{
    .row {
      background: $ghost-gray;
    }
    .external-site-link-left,
    .external-site-link-right{
        text-align: center;
    }
    .external-site-link-left{
      @media only screen and (min-width: 40em) {
          text-align: left;
      }
    }
    .external-site-link-right{
      @media only screen and (min-width: 40em) {
          text-align: right;
      }
    }
  }
  .services-finder{
    background: $ghost-gray;
    padding: 1rem;

    h2{
      text-align: center;
      margin-bottom:2rem;
    }
    .call-to-action {
      margin-bottom: 3.5rem;

        @media only screen and (max-width: 40em) {
          > div {
          margin-bottom: 2.5rem;

          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .news {
    .small-thumb{
      width:150px;
      height:auto;
      float:left;
    }
    h3{
      font-size:1rem;
    }
    ul{
      margin:0;
      padding:0;
      li {
        list-style: none;
        border-bottom: 1px solid #f2f2f2;
        &:hover{
          opacity: .6;
        }
        &:last-child{
          margin-bottom: 0;
          border-bottom:none;
        }
      }
      a:link, a:visited {
        font-weight: normal;
        > h3 {
          font-weight: 400;
          color:$ben-franklin-blue;
          margin-bottom: 0;
        }
      }
    }
  }
  .logo {
    img {
      width:100%;
      height:auto;
    }
    text-align:center;
    margin: 0 0 20px 0;
  }

  .contact{
    background:$ghost-gray;
    padding:$spacing-medium;

    aside{
      font-size: 0.85rem;
    }

    .logo{
      padding:1rem 0;
    }
  }

  .inner {
    background:$ghost-gray;
    padding:20px;
  }

  .widget-title {
    font-size:1rem;
    margin-top:0;
    margin-bottom: 0;
  }

  .notices li{
    border-bottom: 1px solid $ghost-gray;
    padding:10px 0;

    &:first-child{
      padding-top: 0;
      padding-bottom: 10px;
    }
    &:last-child{
      padding-bottom: 0;
      border:none;
    }

  }
  .event-box{

    .simcal-day:last-of-type .event-row{
      border-bottom: none;
    }
    .event-row{
      border-bottom:1px solid $ghost-gray;
    }
    .simcal-default-calendar-list{
      padding:0;
    }
    .simcal-default-calendar-list ul.simcal-events li.simcal-event {
      margin-bottom: 0;
    }
  }
  .button.alternate.full{
    margin-bottom: 0;
  }
  section{
    margin-bottom: 2rem;

    &:last-of-type{
      margin-bottom: 0;
    }
  }
}//department
@media screen and (min-width: 40em) {

  .medium-center{
    text-align: center;
  }
}
.department-nav{
  .top-bar, .top-bar ul {
    @media screen and (min-width: 40em){
      background-color:#daedfe;
    }
  }
}
#site-nav  {
  .is-drilldown{
    //we are making this important to override some goofy inline styles foundation is trying to add.
    height: auto !important;
    width:320px !important;
  }

  .department-menu{

    .dropdown li{
      border-bottom:1px solid $sidewalk;

      &:last-child{
        border-bottom: none;
      }
    }
    li[class*="current"] > a{
      background: $ben-franklin-blue;
      color:$white;
    }
  }
}

.post-type-archive-department_page .list li{
  border-bottom: 1px solid $ghost-gray;
  margin: 1rem 0;
}
