/*
 *
 * Events Pages
 *
 *
*/
.event_page {
  h2 {
    @media screen and (min-width: 40em) {
      margin-bottom: 2rem;
    }
  }
  .event-official {
    margin-top: .5rem;
    @media screen and (min-width: 40em) {
      margin-top: 0;
    }
    .event-details {

      .event-logistics{
        border-right:0;
        @media screen and (min-width: 40em) {
          border-right:1px solid gray;

        }
      }
      h4 {
        margin-bottom:0;
      }
      .event-icon {
        float: left;
        text-align: center;
        min-width: initial;
        @media screen and (min-width: 40em) {
          min-width: 5rem;
        }

        .fa {
          padding: 0 1rem 0;
          font-size: 2rem;
          @media screen and (min-width: 40em) {
            font-size: 3rem;
          }
        }
      }
      .event-date-details {
        @media screen and (min-width: 40em) {
          margin-bottom: 2rem;
        }
      }
      .event-location-details{
        overflow: auto;
      }
    }
    .event-description {
      margin:.5rem 0 0;
      @media screen and (min-width: 40em) {
        margin:0;
      }
      div {
        padding:1rem;
        @media screen and (min-width: 40em) {
          padding-left: 1.5rem;
        }
      }
    }
    .connect {
      .panel {
        padding: 1rem;
        border:0;
        hr {
          margin: .25rem 0;
        }
      }
    }
  }
  // Hero Header Alterations
  #header-image, .photo-credit{
      display: none;
      @media screen and (min-width: 40em) {
        display: inline-block;
      }
  }

  .intro {
    background: none;
    img {
      padding-top:1.5rem;
    }
  }
  .initial-hero {
    display: none;
    @media screen and (min-width: 40em) {
      display: inline-block;
    }
  }
  .hidden-hero{
    display: inline-block;;
    @media screen and (min-width: 40em) {
      display: none;
    }
  }
  //Service Updates
  .service-update{
    /*width: 100%;
    height:auto;
    background: #f0f0f0;*/
    color: #444444;
    margin-bottom: .5rem;

    .critical {
      .service-update-icon{
        background: #FE0000;
      }
    }
    .warning {
      .service-update-icon{
        background: #F3C800;
      }
    }
    .service-update-icon {
      float:left;
      width: 70px;
      height: 100%;
      text-align: center;
      max-height: none;
      background: #54C247;
      color:#fff;

      .fa{
        display: inline-block;
        vertical-align: middle;
      }

      .icon-label{
        text-transform: uppercase;
        font-weight: normal;
        font-family:'Montserrat', 'Tahoma', sans-serif;
        color: #fff;
        font-size: .7rem;
      }
    }

    .service-update-details {
      color: #444444;
      background: #f0f0f0;
      text-align: left;
      text-transform: none;
      margin-left: 75px;

      .date {
        font-weight: normal;
      }
    }
  }
  //Vertical Align helper
  .valign {
    display: table;
    width: 100%;
    height: inherit;
  }
  .valign-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
