.hero-header {
  position: relative;
  overflow:hidden;
  margin: 0 0 $spacing-medium 0;
    .intro{
      position: relative;
      a {
        &:hover {
          color:#a1a1a1;
        }
        &:not(.button) {
          color: #fff;
          text-decoration: underline;
        }
      }
      //TODO: Find out if .sub-head is still used
      .sub-head {
        font-weight:normal;
        font-size: 0.85rem;
        font-family: inherit;
        padding-left:0;
      }
    }
    .photo-credit {
      padding: $spacing-extra-small 0;
      font-style: italic;
      // background-color: rgba(0,0,0,.3);
    }
    #header-image {
      width:100%;
    }
    @media screen and (min-width: 40em) {
      .intro {
        position: absolute;
        bottom: 1.5rem;
        left:$spacing-large;;
        color: #fff;
        background: rgba(33,118,210,.9);
        width: 400px;
        padding: 0 $spacing-medium;;
        h1 {
          display: inline-block;
          font-size: 2.5rem;
          line-height: 3rem;
          margin:$spacing-small 0;
          .strong {
            font-size: 3.5rem;
            white-space: pre;
            font-weight: bold;
            text-transform: uppercase;
          }
          .break-after{
            &:after {
              content: '\A';
            }
          }
          .break-before{
            &:before {
              content: '\A';
            }
          }
        }
        //TODO: Find out if .sub-head is still used
        .sub-head {
          font-weight:700;
          font-size: 1rem;
          font-family: 'Montserrat', 'Tahoma', sans-serif;
        }
        p {
        font-weight: bold;
        }
      }
      .photo-credit {
        color: $white;
        padding: $spacing-extra-small $spacing-small;
        position:absolute;
        bottom:0;
        right:0;
        text-shadow: 1px 1px 1px $dark-gray;
        // background-color: rgba(0,0,0,.3);
      }
    }
    @media only screen and (min-width: 64em) {
      .intro {
        h1 {
        }
      }
    }
}
