/*
 *
 * homepage styles
 *
 *
*/
.home {
  .hero-content {
    h1 {
      margin:0;
      padding: 1rem 0;
      color:$white;
      @media screen and (max-width: 48em) {
        font-size: 1.4rem;
      }
    }

    .search {
      width: 60%;
      margin: 0 auto;

      @media screen and (max-width: 48em) {
        width: 100%;
      }

      input[type="text"]{
        border:transparent;
      }
    }

    .home-top{
      background:$ben-franklin-blue;
      padding:20px 0;
      margin-bottom: 0;
    }
  }
  header{
    background: rgba(255,255,255,0.6);
  }
  .app > .row:last-of-type {
    background: transparent;
  }

  /*
   *
   * homepage news styles
   *
   *
  */
  .home-news {
      background:#F9F9F9;
      padding: 20px 0;
  }
  #news {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: stretch;
      flex-align: stretch;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .story {
          background: $white;
          @extend .group;
          border: 1px solid $ghost-gray;
          margin-bottom: 20px;
          cursor: default;

          @media screen and (min-width: 48em){
              width:100%;
              margin-bottom:0;
          }
      }

      h3 {
          border-bottom: 1px solid $ghost-gray;
          margin: 1em 0 0 0;
          padding: 0 0 .5em 0;
          word-break: break-word;
      }

      a:link > h3, a:visited > h3 {
          color:$ghost-gray;
      }
      a:hover > h3, a:active > h3{
          color:$ben-franklin-blue;
      }
      span {
          color: $ghost-gray;
          font-size: 80%;

      }
      p{
          margin:.5em 0;
          font-size:.9em;
      }
      img {
          width:100%;
          height:auto;

      @media screen and (min-width: 35.5em){
          max-width:293px;
          float:left;
          margin:0 20px 0 0;
          }

      @media screen and (min-width: 64em) {
          float:none;
          width:100%;
          }
      }//img

      .read-more{
          float:right;
      }

      > div {
        display: -webkit-flex;
        display: flex;

      }
  }//#news
  #active {
    padding:20px 0;

      .h3 {
           @media screen and (min-width: 48em){
              font-size:95%;
          }
      }
      dt{
          margin:0 0 0 0;
          border-bottom: none;
      }
      dd{
          margin:0 0 20px 0;
          font-size: .9em;
          border-bottom: none;

      }

      @media screen and (min-width: 48em){
          dt, dd {
              margin:0 0 10px 0;
              padding:0 0 10px 0;
              border-bottom: 1px solid $ghost-gray;
              min-height: 68px;
              font-size: 95%;
          }
          dt:last-of-type, dd:last-of-type{
              margin:0;
              padding:0;
              border-bottom:none;
          }
      }

      .h3 {
          display: block;
      }
      dt > span {
          font-weight: bold;
          font-size: 90%;
      }
      header h1 {
          margin-top:0;
          padding:0 0 10px 0;
          font-size: 1.5em;
      }
      header h1::after {
          font-family: 'FontAwesome';
          color:$ben-franklin-blue;
          content:"\f201";
          padding:0 0 0 20px;
          -webkit-font-smoothing: antialiased;
      }
      .related .row {
        margin-left:0;
        margin-right:0;
        background:$ghost-gray;
        border:1px solid $medium-gray;
        padding:20px;

        a:link, a:visited{
          color:$ben-franklin-blue;//hack
        }
        a:hover, a:active{
          color:$dark-gray;
        }
      }
  }//#active
  .links {
    a.button{
      margin:.5rem 0;
    }
    a.button:first-of-type{
      margin:0 0 .5rem 0;
    }
  }
}
