.post-label{
  padding-bottom:1rem;
  span{
    @include secondary-font(normal);
    font-size: .8rem;
    vertical-align: -webkit-baseline-middle;
    text-transform: uppercase;
  }
  &.post-label--post,
  &.post-label--announcement{
    color:color(pride-purple);
  }
  &.post-label--featured{
    color:color(dark-ben-franklin);
  }
  &.post-label--calendar{
    color:color(phanatic-green);
  }
  &.post-label--press-release{
    color:color(love-park-red);
  }
}
