.post-label{
  padding-bottom:1rem;
  span{
    @include secondary-font(normal);
    font-size: .8rem;
    vertical-align: -webkit-baseline-middle;
    text-transform: uppercase;
  }
  &.post-label--post{
    color:color(pride-purple) !important;
    &::before{
      color:color(pride-purple) !important;
    }
  }
  &.post-label--announcement{
    color:color(ben-franklin-blue) !important;
  }
  &.post-label--featured{
    color:color(dark-ben-franklin)!important;
    &::before{
      color:color(dark-ben-franklin)!important;
    }
  }
  &.post-label--calendar{
    color:color(phanatic-green)!important;

    &::before{
      color:color(phanatic-green)!important;
    }
  }
  &.post-label--press_release{
    color:color(love-park-red)!important;
    &::before{
      color:color(love-park-red)!important;
    }
  }
}
