.lightbox-link{
  &:focus {
    outline: none;
  }
  cursor: pointer;
  @include transition( opacity, .2s );
  &:hover{
    @extend %lower-opacity;
  }
  @include breakpoint(small only) {
    cursor: auto;
    &:hover{
      opacity: 1;
    }
  }
}

.reveal{
  min-height:400px;
  padding-bottom: 4rem;
  position: relative;

  &.reveal--auto{
    width:auto;
  }
  .lightbox-content{
    margin:2rem;
    p{
      margin-top:1rem;
    }
  }
  .close-button{
    background: none;
    &:hover{
      background: none;
      color:color(ben-franklin-blue);
    }
  }
  .reveal-footer{
    position: absolute;
    margin-bottom:1rem;
    background: white;
  }
}

.reveal--calendar{
  border-top:0;
  border-bottom:10px solid map-get($post_content_types, calendar);
}

.reveal--announcement{
  border-bottom:10px solid map-get($post_content_types, announcement);
}