.content-list-items{

  @media only screen and (min-width: 64em) {
    border-right: 2px solid $ghost-gray;
    &:last-of-type{
      border-right: 0;
    }
  }

  .content-list-item{
    @media only screen and (min-width: 64em) {
      border-bottom: 2px solid $ghost-gray;
      &:nth-of-type(4){
        border-bottom: 0;
      }
    }
    a {
      div {
        .fa {
          margin-right:$spacing-medium;
        }
        display:table-cell;
        vertical-align:middle;
      }
    }
  }
}
