.location-list{
  column-count: 2;
  column-width: auto;
  margin-bottom: 3rem;
   .location-link{
      page-break-inside: avoid;
      break-inside: avoid;
      display: block;
      padding: 1rem 1rem 1rem 2rem;
      margin-bottom: .5rem;
      background: rgba(218, 237, 254, .6);
  }
}
