$post_content_types: (
    featured: color(dark-ben-franklin),
    announcement: color(ben-franklin-blue),
    post: color(pride-purple),
    event: color(phanatic-green),
    press_release: color(love-park-red)
);
