.mayor-page {
  .hero-content {
    background: color(ben-franklin-blue);
    color: white;
    text-align: left;
  }
  span.MAYOR {
    display: block;
    text-transform: uppercase;
    font-size: 3rem;
  }
}