@mixin check-bg( $position, $size ){
  background-image: url('../img/bg/fa-check.png');
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}

//TODO: Add to standards
$colors: map-merge( $colors, (punk-pink: #dd2662 ) );
