.phila-modal {
    @include breakpoint(medium up) { 
        margin-top: 10vh;
    }
    .content {
        margin-top: 20px;
        h3 {
            text-align: left;
        }
        h4 {
            text-align: left;
        }
        p {
            text-align: left;
        }
        .button-text {
            cursor: pointer;
            margin-top: 10px;
            padding: 0.75rem 1.5rem;
        }
    }
}