.hero-content{
  text-align: center;

  @media screen and (min-width: 48em) {
    margin-top:150px;
  }

  section{
    background:color(ben-franklin-blue);
  }
  .call-to-action {
    margin: 40px 0;

    p{
      color:white;
      font-size:.9rem;
      @media screen and (max-width: 48em) {
        font-size: .8rem;
      }
    }

    @media screen and (max-width: 64em) {
      margin: 20px 0;
    }
    @media screen and (max-width: 48em) {
      a .fa-inverse {
        font-size: 1.8rem;

        span.h6 {
          font-size: 1.8rem;
        }
      }
      .fa-3x {
        font-size: 2em;
        }
      .h3 {
        font-size:.7rem;
      }
    }
  }
  .topic-main-nav{
    background: #3e8ef1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    a{
      flex-grow:1;
      margin:0;
      padding:.5rem 0;
      width:100%;
      display: inline-block;
      border-left:1px solid color(ben-franklin-blue);
      border-right:1px solid color(ben-franklin-blue);
      border-top: 2px solid color(ben-franklin-blue);
      color:white;
      text-transform: uppercase;
      font-weight: normal;

      @media screen and (min-width: 64em) {
        width:25%;
      }

      &:hover, &:active{
        background: color(light-ben-franklin);
      }
    }
  }
}

.error-404{
  .find {
    @extend .group;
    background-color:#F9F9F9;
    border: 1px solid color(ghost-gray);
    padding:1.5em;
    margin-bottom: 0;

    @media screen and (min-width: 35.5em){
         margin-bottom: 1em;
    }
     h1{
        margin-top: 0;
        padding: 0;
        text-transform: none;
        font-size: 1.33em;
        font-weight: 400;
     }
   }
}

.vr{
  padding: 0 0 0 $spacing-medium;
  border-left: 4px solid color(ghost-gray);
}
