.disclaimer-modal {
    .content {
        margin-top: 20px;
        h3 {
            text-align: left;
        }
        h4 {
            text-align: left;
        }
        p {
            text-align: left;
        }
        .button-text {
            margin-top: 10px;
            padding: 0.75rem 1.5rem;
        }
    }
}