.disclaimer-modal {
    .content {
        margin-top: 54px;
    }
    .button-text {
        bottom: 20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
    }
}