nav#services-nav{
  a{
    font-weight:600;
    border-bottom: 1px solid $ghost-gray;
    display: block;
  }

  ul {
    list-style: none;
    margin:0;
    padding:0;

    > li.current_page_item {
      > a{
        background: $ben-franklin-blue;
        color:white;
      }
    }
  li li {
      span {
        display: inline-block;
        padding-left:2rem;
      }
      ul li span{
        display: inline-block;
        padding-left:3rem;
      }
    }
    &.children{
      background:$ghost-gray;
      li a{
        padding-right:1rem;
        border-bottom: 2px solid $white;
      }
    }
  }
  .page_item_has_children{
    > a:after{
      content: '+';
      font-size:20px;
      line-height: 20px;
      float:right;
    }
    &.current_page_item {
      > a:after{
        content: '—';
        font-size:15px;
        line-height: 15px;
        float:right;
      }
      > ul {
        display: block;
      }
    }
  }
  .current_page_ancestor{
    ul {
      display: block;
    }
    > a:after{
      content: '—';
      font-size:15px;
      line-height: 15px;
      float:right;
    }
  }

}
