ul.paginate-links{
  display: inline-block;
  margin:0;
  padding:0;
  float:right;

  li{
    display: inline-block;
    border-right: 2px solid white;
    margin-bottom:1rem;
  }
  a{
    display: block;
    padding: .5rem;
    background: #0f4d90;
    color:white;
  }
  a{
    color:white;
  }
  li.active a{
    background: white;
    color: #444;
  }
}

.no-results {
  display: none;
}
