.info-block{
  font-size:1.5rem;
  font-style: italic;
  .paragraph{
    font-size: 1rem;
    font-style: normal;
  }
}

.card.action-panel .panel{
  padding-bottom: 3.5rem;

  .fa-stack{
    margin-bottom:2rem;
  }
}