.panel {
  background:color(ghost-gray);
  padding: 1.5rem;

  &.info{
    background: transparentize( color(light-ben-franklin), 0.7);
    border:none;
    padding: $spacing-medium;

    &.heading{
      padding:0;
    }

    .title{
      border-bottom:2px solid $white;
      font-family: 'Montserrat';
      text-transform: uppercase;
    }

    .large-text{
      line-height: $large-font-base;
    }

    .symbol{
      vertical-align: top;
      line-height: $large-font-base / 1.5;
      font-size: $large-font-base / 2;

      &.small{
        line-height: $large-font-base / 2;
        font-size: $large-font-base / 3;
      }
    }
  }
  &.survey{
    @media screen and (min-width: 40em) {
      @include check-bg( 84%, 17% );
    }
  }

  p{
    margin-bottom:1rem;

    &:last-of-type {
      margin: 0;
      padding: 0;
    }
  }
}
