@media print {
  @page {
    margin: 0.5cm;
  }
  body{
    font-size: 12pt;
    line-height: 1.3;
  }
  .logo img {
    max-width:100% !important;
  }
  //disable sticky header
  .sticky.is-stuck {
    position: relative !important;
  }
  .sticky.is-anchored[style]{
    top:0;
  }
  footer #full-footer-start,
  footer .fat,
  .feedback,
  .alert-persistent,
  .utility-nav,
  .desktop-nav,
  .top-bar,
  .see-all-right,
  .site-search,
  button,
  .button,
  nav,
  .social-media,
  [data-toggle="expandable"]
  //if it is hidden for small screens, we probably want to hide it for print too
  .show-for-medium
  {
    display:none !important;
  }
  //TODO: change in patterns
  a:after {
  content: " " !important;
  }
  //remove equal height
  div[style]{
    height:auto;
  }

  .medium-8{
    float:left;
    width:33.3333%;
  }
  /*
    Taken from jotform css
    For printing live forms
  */
  .form-section {
      display: inline !important;
  }
  .form-pagebreak {
      display: none !important;
  }
  .form-section-closed {
      height: auto !important;
  }

  .form-all .form-label{
    margin:0;
  }
  .expandable{
    height:100%;
  }
  .print-stack{
    width:100% !important;
  }
}
