$post_content_types: (
  action_guide: color(punk-pink),
  announcement: color(ben-franklin-blue),
  calendar: color(phanatic-green),
  featured: color(dark-ben-franklin),
  post: color(pride-purple),
  press_release: color(love-park-red)
);
