#page .service h1.entry-title{
  margin-bottom: 1rem;
}
.service{
  .border {
    border: 1px solid $medium-gray;
  }
  .button+.small-text {
    margin: .5rem 0 0 0;
    padding: 0;
  }
  .intro-top{
    background:$ghost-gray;
    padding:2rem;
    h1 {
      margin:0;
    }
  }
  .intro-bottom{
    background: $ghost-gray;
    padding: 1.5rem 2rem;
  }
  .columns.to-start-left{
    text-align: center;
  }
  .columns.to-start-right {
    padding-left: 2em;
  }
  .columns.before-start-right{
    border-left: 1px solid $medium-gray;
    padding-left: 2rem;
    p, ul, ol {
      font-size:.75rem;
    }
    p:first-of-type {
      margin-top:0;
    }
  }
  .columns.before-start-left{
    h3{
      color:$dark-gray;
      font-size:.8rem;
      font-weight: bold;
      margin-top:0;
    }
    i {
      color:$bell-yellow;
      vertical-align: middle;
      padding: 0 1rem 0 0;
    }
  }
  .top-margin{
    margin-top:1rem;
  }
  aside#secondary {
    padding-bottom:0px;
  }
}
.all-services-info-list{
  .light-stripe {
    background: $ghost-gray;
    padding:0 1rem;
    color:$sidewalk;
  }
  .list{
    padding:0 0 0 3rem;
  }
  .list + .list{
    margin-top:0;
  }

  @media only screen and (max-width: 40em) {
    .list{
      margin-top:0;
    }
    .light-stripe{
      border-top:none;
      background:$medium-gray;
      text-align: center;
      &:first-of-type{
        margin-top:0;
      }
    }
  }

  .a-z-list{
    background:$ghost-gray;
    text-align: center;

    li{
      padding:1rem 0;
    }
  }
}
