#page .service h1.entry-title{
  margin-bottom: 1rem;
}
.service{
  .border {
    border: 1px solid $geyser;
  }
  .button+.small-text {
    margin: .5rem 0 0 0;
    padding: 0;
  }
  .intro-top{
    background:$geyser;
    padding:2rem;
    h1 {
      margin:0;
    }
  }
  .intro-bottom{
    background: $ghost-gray;
    padding: 1.5rem 2rem;
  }
  .columns.to-start-left{
    text-align: center;
  }
  .columns.to-start-right {
    padding-left: 2em;
  }
  .columns.before-start-right{
    border-left: 1px solid $geyser;
    padding-left: 2rem;
    p, ul, ol {
      font-size:.75rem;
    }
    p:first-of-type {
      margin-top:0;
    }
  }
  .columns.before-start-left{
    h3{
      color:$sidewalk;
      font-size:.8rem;
      margin-top:0;
    }
    i {
      color:$bell-yellow;
      vertical-align: middle;
      padding: 0 1rem 0 0;
    }
  }
  .top-margin{
    margin-top:1rem;
  }
  aside#secondary {
    h3 {
      margin-top:17px;
      margin-bottom: 20px;
    }
    &.no-border {
      border:none;
    }
  }
}
