.staff-directory {
  .staff-leadership {
    margin-bottom: $spacing-medium;

    .staff-thumbnail {
      width:100%;
    }
    .staff-contact {
      margin-top: $spacing-medium;
      margin-bottom: $spacing-medium;

      .name,
      .job-title,
      .tel,
      .email {
        word-break: break-word;
      }

      @media screen and (min-width: 40em){
        margin-top: 0;
        margin-bottom: 0;
      }

    }
    .staff-summary {

    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
