.sticky {
  &.sticky--in-page {
    text-transform: uppercase;
    a:link, a:visited {
      color:color(dark-gray);
    }
    li{
      border-right: 1px solid color(dark-gray);
      &.featured{
        a:hover, a:active{
          color:color(dark-ben-franklin);
        }
      }
      &.posts{
        a:hover, a:active{
          color:color(pride-purple);
        }
      }
      &.press-releases{
        a:hover, a:active{
          color:color(love-park-red);
        }
      }
      &.events{
        a:hover, a:active{
          color:color(phanatic-green);
        }
      }
      &:last-of-type{
        border: none;
      }
    }
    div {
      padding-top:1rem;

    }
  }
}
