.entry-summary {
  margin: 0;
}
.swiftype-widget .autocomplete li p.title {
  color: color(dark-ben-franklin);
}
.result-count {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.st-page {
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
}
.st-next {
  float: right;
  margin-bottom: 0.75rem;
}
.search-page {
  .search {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  .search-head h1 {
    font-size: 1.4rem;
    margin-top: 0;
  }
  .property-link {
    border: 3px solid color(flyers-orange);
    display: none;
    padding: 0.3rem 0.5rem;

    p {
      margin: 0;
    }

    .fa-arrow-circle-right {
      float: right;
      padding-top: 0.1rem;
    }
  }
  .entry-summary {
    em {
      background-color: color(medium-gray);
      color: white;
      font-weight: bold;
      padding: 0 0.35rem;
    }
  }
}
