.entry-summary {
  margin: 0;
}
.swiftype-widget .autocomplete li p.title {
  color: $ben-franklin-blue;
}
.result-count {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.st-page {
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
}
.st-next {
  float: right;
  margin-bottom: 0.75rem;
}
.search-page {
  .search {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  .search-head h1 {
    font-size: 1.4rem;
    margin-top: 0;
  }
  .property-link {
    border: 3px solid $flyers-orange;
    display: block;
    padding: 0.3rem 0.5rem;

    p {
      margin: 0;
    }

    .fa-arrow-circle-right {
      float: right;
      padding-top: 0.1rem;
    }
  }
  .entry-summary {
    em {
      background-color: $ghost-gray;
      padding: 0 0.25rem;
      margin: 0 -0.15rem;
    }
  }
}
