table.theme-light{
  thead{
    border-bottom:5px solid color(dark-gray);
  }
  th{
    background: white;
    text-transform: uppercase;
    color:color(dark-gray);
  }
  tbody{
    background-color:white;
  }
  tbody tr:nth-child(even){
    background-color: white;
  }
  td{
    padding: 1.5rem .5rem;
    border-bottom: 1px solid color(dark-gray);
    border-top:none;
    border-left:none;
    border-right:none;
  }
}
