/* searchable, sortable document table */

.table-sort{
  position: relative;
  cursor: pointer;
  color: white;
  padding-right: 2rem;

  span::after{
    position: absolute;
    display: inline;
    content: '';
    margin: auto 10px auto;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: white transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    float: none;
    top: 0;
    bottom: 0;
    height: 10px;
  }
}
.table-sort.asc {
  span::after{
    border-color: transparent transparent white;
    border-bottom-style: solid;
    border-bottom-width: 5px;
  }
}


table.theme-light{
  .table-sort {
    span::after{
      border-color: color(dark-gray) transparent transparent;
    }
    &.asc{
      span::after{
        border-color: transparent transparent color(dark-gray);
      }
    }
  }
  thead{
    border-bottom:5px solid color(dark-gray);
    background: white;
  }
  th{
    background: white;
    text-transform: uppercase;
    color:color(dark-gray);
  }
  tbody{
    border:none;
    background-color:white;
  }
  tbody tr:nth-child(even){
    background-color: white;
  }
  td{
    @include breakpoint(medium up) {
      padding: 1.5rem .5rem;
      border-bottom: 1px solid color(dark-gray);
    }
    border-top:none;
    border-left:none;
    border-right:none;
  }
  @include breakpoint(small only) {
    td{
      border-bottom:none;
    }
    tr{
      border-bottom: 1px solid color(dark-gray);
    }
  }
  a:link, a:visited{
    color:color(dark-gray);
  }
  .vue-clickable-row:hover,
  .clickable-row:hover{
    cursor: pointer;
    opacity: 1;
    background:color(ghost-gray);
  }
}

.archive-results{
  @include breakpoint(large up) {
    .title{
      width:500px;
    }
    .date{
      width:150px;
    }
  }
}

table.connect{
  td{
    word-break: break-word;
  }
}
