@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

p, ul, ol, div, section {
  font-size: 16px;
}
h1, .h1 {
  font-weight: 600;
  font-size: 2.286rem;
}
h2, .h2 {
  font-weight: 600;
  font-size: 2rem;
}

h3, .h3{
  font-weight: 600;
  font-size: 1.714rem;
}

h4, .h4{
  font-weight: 600;
  font-size: 1.429rem;
}

h5, .h5{
  font-weight: 600;
  font-size: 1.143rem;
}

h6, .h6{
  font-size: 1.143rem;
  text-transform: uppercase;
}

nav#side-nav ul li span {
  line-height: 1.3rem;
}

.step-group .step-label {
  font-weight: 600;
}
.step-group .step .step-title {
  font-weight: 600;
  font-size: 1.2rem !important;
}

#site-nav {
  text-transform: none;
  font-size: 1rem;
}

button, .button {
  padding: 1rem;
}

input[type=checkbox] + label[for] {
  font-size: 16px;
}

input[type=radio] + label[for] {
  font-size: 16px;
}

@include breakpoint(medium) {
  .single-service_page {
    h2 {
      margin-top:0;
    }
    h3{
      margin-top: 3.5rem;
    }
    .panel.info.equal h3{
      margin-top: 0;
    }
  }
}

a.card h1, a.card h2, a.card h3, a.card h4, a.card h5, a.card h6, a.card .h1, a.card .h2, a.card .h3, a.card .h4, a.card .h5, a.card .h6 {
  font-size: 1.3rem;
}
footer.site-footer.site-footer .fat h2 {
  font-size: 1.2rem;
}

@include breakpoint(small only) {
  .global-nav .utility-nav {
    min-height: 30px;
  }
  .cell {
    margin-bottom: 0rem;
  }
}
#site-search-button{
  .search-text{
    margin-top: 0.5rem;
    display: block;
  }
}