@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

p, ul, ol, div, section {
  font-size: 16px;
}
h1, .h1 {
  font-weight: 600;
  font-size: 2rem;
}
h2, .h2 {
  font-weight: 600;
  font-size: 1.75rem;
}

h3, .h3{
  font-weight: 600;
  font-size: 1.5rem;
}

h4, .h4{
  font-weight: 600;
  font-size: 1.25rem;
}

h5, .h5{
  font-weight: 600;
  font-size: 1rem;
}

h6, .h6{
  font-size: 1rem;
  text-transform: uppercase;
}

nav#side-nav ul li span {
  line-height: 1.3rem;
}

.step-group .step-label {
  font-weight: 600;
}
.step-group .step .step-title {
  font-weight: 600;
  font-size: 1.2rem !important;
}

.welcome-message h1{
  font-weight: 400 !important;
}

.global-nav .dropdown-pane .mega-menu-footer {
  height: 60px;
}

.document .file-type {
  font-size: 16px;
}

#site-nav {
  text-transform: none;
  font-size: 1rem;
}

.home .hero-content .welcome-message .h1{
  font-weight: 400;
}

.post-label span {
  font-size: 14px;
  vertical-align: text-top;
}
button, .button {
  padding: 1rem;
}