//TODO: Move to patterns

.border-bottom-sidewalk{
  border-bottom:1px solid $sidewalk;
}
.border-right-sidewalk{
  border-right:1px solid $sidewalk;
}
.border-left-sidewalk{
  border-left:1px solid $sidewalk;
}
.border-top-sidewalk{
  border-top:1px solid $sidewalk;
}
