//globals
$ben-franklin-blue: #027EA4; //primary
$ben-light-blue: #4C97DB;// primary-light
$bell-yellow: #F2BA13;

$geyser: #DBE1E3; //primarily used on borders
$ghost-gray: #f7f7f7; //primarily used on callouts

$manatee: #9299A5; //Md. Grey
$mine-shaft: #353535; //dark gray
$sidewalk: #666;

$whitesmoke: #EDF4F7; //whitesmoke

$black: #000;
$white: #fff;
