//brights
$ben-franklin-blue: #2582e6; //primary
$bell-yellow: #f2c612; //secondary
$flyers-orange: #f99300;
$fairmount-green: #58c04d;
$ben-franklin-light: #96c9ff;

$black: #000000;
$white: #fff;

//grays
$dark-gray: #444;
$medium-gray: #a1a1a1;
$ghost-gray: #f0f0f0;

$sidewalk: #cfcfcf;
