.walk-ins{
  border: 10px solid color(ben-franklin-blue);
  .cell{
    margin-bottom: 0;
  }
  .walk-ins-icon{
    color:white;
    background: color(ben-franklin-blue);
    padding: 1rem;
    margin: 0;
  }
  .walk-ins-copy{
    padding: 1rem;
  }
}

@include breakpoint(small only) {
  .walk-ins{
    border: none;
    background: color( ben-franklin-blue );
    color:white;
    padding: 1rem;
    .walk-ins-icon{
      padding: 1rem 0;
    }
  }
}