/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 0.3571rem 1.5rem 1.5rem 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 0.3571rem auto 0.3571rem auto;
}

.alignright {
  float:right;
  margin: 0 0 1.5rem 1.5rem;
}

.alignleft {
  float: left;
  margin: 0 1.5rem 1.5rem 0;
}

a img.alignright {
  float: right;
  margin: 0 0 1.5rem 1.5rem;
}

a img.alignnone {
  margin: 0 1.5rem 1.5rem 0;
}

a img.alignleft {
  float: left;
  margin: 0 1.5rem 1.5rem 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 0.3571rem 0.2143rem 0.7143rem;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 0.3571rem 1.5rem 1.5rem 0;
}

.wp-caption.alignleft {
  margin: 0.3571rem 1.5rem 1.5rem 0;
}

.wp-caption.alignright {
  margin: 0.3571rem 0 1.5rem 1.5rem;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 0.7857rem;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 0.3571rem;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 0.2143rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 0.3571rem;
  line-height: normal;
  padding: 10.3571rem 20.2143rem 14px;
  text-decoration: none;
  top: 0.3571rem;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
