@import 'variables';
@import 'layout';
@import 'modules';
@import 'wp-core';
@import 'swiftype';
@import 'swiftype-autocomplete';

@import 'calendar';
@import 'departments';
@import 'documents';
@import 'home';
@import 'news';
@import 'service';
@import 'social-media';

p, ul, ol {
  line-height: 1.6;
}
article li:last-child{
  padding-bottom: .5rem;
}

@media screen and (min-width: 35.5em){
  .entry-content > div {
    margin:0 20px 0 0;
  }
}
.group::after {
  content: "";
  display: table;
  clear: both;
}

.navigation {
  margin-top:1rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size:.95rem;
  .page-numbers{
    padding: 5px;
    &.next, &.prev{
      padding:0;
    }
  }
  i{
    color:$white;
    background:$bell-yellow;
    padding:5px;
  }
}

#content header{
  background: transparent;
}
header .site-branding {
  background: transparent;
}

body.custom-background{
  background-size:100%;
}
