//TODO: Add to patterns
h1 .fa{
  font-size: 1.6rem;

  @media screen and (min-width: 40em) {
    font-size: 2rem;
  }
}

.group::after {
  content: "";
  display: table;
  clear: both;
}

#page {
  position: relative;
}
.navigation {
  margin-top:1rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size:.95rem;
  .page-numbers{
    padding: 5px;
    &.next, &.prev{
      padding:0;
    }
  }
  i{
    color:color(white);
    background:color(bell-yellow);
    padding:5px;
  }
}

.filter {
  background:color(ghost-gray);
  padding:10px;
  ul {
    list-style:none;
    margin:0;
    padding:0;
  }
   li {
    margin:0;
    padding-bottom:10px;
    &:last-child {
      padding:0;
    }
  }
}
img.float-left{
  margin: 1em 1em 1em 0;
  float:left;
}
img.float-right{
  margin: 1em 0 1em 1em;
  float:right;
}

@media screen and (min-width: 64em) {
  .border-right{
    border-right:1px solid color(dark-gray);
  }
}

.clickable-row {
  cursor: pointer;
  opacity: 1;
  @include transition( background, .2s );

  &:hover {
    opacity: .5;
    background: transparent;
  }
}


@media screen and (min-width: 64em) {
  .fat-gutter{
    &.row,
    &.row .row{
        margin-left: -$spacing-large;
        margin-right: -$spacing-large;
      }
    .column, .columns {
        padding-left: $spacing-large;
        padding-right: $spacing-large;
    }
  }
}

//TODO: add all these as utility to patterns
.float-none{
  float:none;
}
.text-align-left{
  text-align: left !important;
}

.inline-block{
  display: inline-block;
}
.phila-thumb{
  max-width: 250px;
}
