body{
  //required to override wp setting on bg images
  position: static !important;
}
.group::after {
  content: "";
  display: table;
  clear: both;
}

.navigation {
  margin-top:1rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size:.95rem;
  .page-numbers{
    padding: 5px;
    &.next, &.prev{
      padding:0;
    }
  }
  i{
    color:$white;
    background:$bell-yellow;
    padding:5px;
  }
}
body.home header.site-header{

  background: rgba(225, 225, 225, .4);

  .breadcrumbs{
    display: none;
  }

}

header .site-branding {
  background: transparent;
}

body.custom-background{
  background-size:100%;
}

.departments .topic {
    clear:both;
    width:100%;
    height: auto;
  //  border-bottom:1px solid $black;
}

.filter {
  background:$ghost-gray;
  padding:10px;
  ul {
    list-style:none;
    margin:0;
    padding:0;
  }
   li {
    margin:0;
    padding-bottom:10px;
    &:last-child {
      padding:0;
    }
  }
}
img.float-left{
  margin: 1em 1em 1em 0;
  float:left;
}
img.float-right{
  margin: 1em 0 1em 1em;
  float:right;
}
.title-offset, .title-long-offset {
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: -0.78125rem;
  margin-right: -0.78125rem;
  padding-left: 0.78125rem;
  padding-right: 0.78125rem;
}
.title-offset + div{
  margin-top:40px;
}
.title-long-offset + div{
  margin-top:55px;
}
.row.title-push {
  width:100%;
  margin:0;
  display: block;
}

aside {
  h3.alternate,
  h4.alternate {
      margin-top:10px;
      margin-bottom:0;
    }
}

.breadcrumbs{

  padding:0;

   @media screen and (min-width: 64em) {
     margin-left:55px;
   }

}

.news-row{
  background:$white;
}

@media screen and (min-width: 64em) {
  .border-right{
    border-right:1px solid $dark-gray;
  }
}
.top-bar{
  padding:0;
}

.bg-white{
  background-color:$white;
}

.fade{
  position: fixed;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  z-index: 5;
}

@media screen and (max-width: 39.9375em) {

  header{
    $tl: 0.6s; // transition length

    .search{
      z-index: 10;
    }

    .search-site{
      position: absolute;
      width:100%;
    }

    .search-field {
      float:right;
      transition: width $tl, background $tl;
      width: 1px;
      //need to override foundation style here
      height: 42px !important;
      border: 1px solid $bell-yellow;
      cursor: pointer;
      background: $white;
      & + label .search-icon {
        color: white;
      }
      &:hover {
        color: white;
        background: rgb(255, 255, 255);
        & + label .search-icon {
          color: white;
        }
      }
      &:focus {
        transition: width $tl cubic-bezier(0,1,.66,1), background $tl;
        border: 1px solid $bell-yellow;
        outline: none;
        box-shadow: none;
        padding-left: 15px;
        cursor: text;
        width: 100%;
        background: rgb(235, 235, 235);
        color: black;
        & + label .search-icon {
          color: black;
        }
      }
      &:not(:focus) {
        text-indent:-5000px;
      } // for more-graceful falling back (:not browsers likely support indent)
    }

    .search-submit {
      position: relative;
      left: -5000px;
    }

    .search:before{
      content: '';
      width: 0;
      height:0;
      background: transparent;
    }

    .search-icon {
      padding:1rem;
      background: $bell-yellow;
      position: absolute;
      right:0;
      color: $white;
      cursor: pointer;
    }
  }
}

.intro{
  background:$ghost_gray;
  .valign {
    display: table;
    width: 100%;
    height: inherit;
  }
  .valign-cell {
    display: table-cell;
    vertical-align: middle;
  }
  i {
    color:$flyers-orange;
    vertical-align: middle;
    padding: 0 1rem 0 0;
  }
}
.intro-item{

  &:last-of-type{
    border-left: 0;
    border-top: 2px solid white;
  }
  @media only screen and (min-width: 40em) {
    &:last-of-type{
      border-top: 0;
      border-left: 2px solid $white;
    }
  }
  .button{
    margin: 0;
  }

}
//TODO: Move to pattern portfolio and include options for all colors in palette
.bg-sidewalk {
  background:$sidewalk !important;
}
