body{
  //required to override wp setting on bg images
  position: static !important;
}
.group::after {
  content: "";
  display: table;
  clear: both;
}

.navigation {
  margin-top:1rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size:.95rem;
  .page-numbers{
    padding: 5px;
    &.next, &.prev{
      padding:0;
    }
  }
  i{
    color:$white;
    background:$bell-yellow;
    padding:5px;
  }
}
body.home header.site-header{

  background: rgba(225, 225, 225, .4);

  .breadcrumbs{
    display: none;
  }

}

#content header{
  background: transparent;
}
header .site-branding {
  background: transparent;
}

body.custom-background{
  background-size:100%;
}

.departments .topic {
    clear:both;
    width:100%;
    height: auto;
  //  border-bottom:1px solid $black;
}

.filter {
  background:$ghost-gray;
  padding:10px;
  ul {
    list-style:none;
    margin:0;
    padding:0;
  }
   li {
    margin:0;
    padding-bottom:10px;
    &:last-child {
      padding:0;
    }
  }
}
img.float-left{
  margin: 1em 1em 1em 0;
  float:left;
}
img.float-right{
  margin: 1em 0 1em 1em;
  float:right;
}
.title-offset, .title-long-offset {
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: -0.78125rem;
  margin-right: -0.78125rem;
  padding-left: 0.78125rem;
  padding-right: 0.78125rem;
}
.title-offset + div{
  margin-top:40px;
}
.title-long-offset + div{
  margin-top:55px;
}
.row.title-push {
  width:100%;
  margin:0;
  display: block;
}
#site-wide-alert a,
#site-wide-alert a:visited {
  color:$white;

  &:hover {
    color: $dark-gray;
  }
}

aside {
  h3.alternate,
  h4.alternate {
      margin-top:10px;
      margin-bottom:0;
    }
}

.breadcrumbs{

  padding:0;

   @media screen and (min-width: 64em) {
     margin-left:55px;
   }

}

.news-row{
  background:$white;
}

@media screen and (min-width: 40em) {
  .border-right{
    border-right:1px solid $dark-gray;
  }
}
.top-bar{
  padding:0;
}

.bg-white{
  background-color:$white;
}
