#site-wide-alert a,
#site-wide-alert a:visited {
  color:$white;
}
#site-wide-alert a:hover {
  color: $dark-gray;
}

#site-wide-alert{
  background: $critical-red;
  text-align: center;
  color:$white;
  margin-bottom: 0;
  font-size: .9rem;

  @media screen and (min-width: 40em) {
    font-size: 1rem;
    h2{
      font-size: 1.78571rem;
    }
  }
  .large-9, .large-15{
    width:100%;
  }
  .alert-start, .ionicons{

  }
  a:hover, a:active{
    color:$bell-yellow;
  }

}
