/*
 *
 * feedback
 *
 *
*/

.feedback {
  color: color(dark-gray);

  .feedback-form {
    background: color(ghost-gray);
    min-height:500px;
    p {
      font-size: 1rem;
    }
  }
  .form-line-active {
    background: none;
  }
  .call-to-action {
    background: color(electric-blue);
    text-transform: uppercase;
    font-family: 'Montserrat', 'Tahoma', sans-serif;
    font-weight: 400;
    letter-spacing: .05rem;
    cursor:pointer;

    a:link,
    a:active,
    a:hover{
      font-weight: 400;
      color: color(dark-gray);
    }

    .fa {
      color: color(dark-gray);

      &.fa-lightbulb-o {
        font-size: 2rem;
        @media only screen and (min-width: 40em) {
          vertical-align: middle;
        }
      }
    }
  }

  // Thanks CSS Tricks - https://css-tricks.com/snippets/css/css-triangle/

  .arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: 0 auto;
    border-top: 15px solid color(electric-blue);
  }
  .up {
    background: none;
    .arrow-wrapper {
      background: color(ghost-gray);
    }
    .arrow {
      border-bottom: 15px solid color(electric-blue);
      border-top: 0px solid color(electric-blue);
    }
  }
  .site-wide-instructions {
    font-size: 14px;
    .button {
      min-width: 175px;
      .button-label {
        text-align: center;
      }
      @media only screen and (min-width: 40em) {
        float: right;
      }
    }

    ul {
      li {

      }
    }
  }
}

footer {
  &.sitefooter {
    .feedback {
      .site-wide-instructions {
        font-size: 14px;
        a:link, a:visited {
          font-weight: 700;
        }
      }
    }
  }
}
