.global-nav {
  font-family: 'Montserrat', 'Tahoma', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid $white;

  a:link, a:visited {
    font-weight: normal;
    font-size: .85rem;
  }
  .is-drilldown {
    height: auto !important;
  }
  .primary-nav {
    ul {
      background-color:$white;
    }
  }
  .secondary-nav {
    padding: .25rem 0;
    font-size: .85rem;

    ul {
      padding-right: 1.5rem;

      li {
        a {
          color: $white;
          padding: 0 0 0 $spacing-small;
          &:after {
            content: '|';
            padding-left: .5rem;
          }
        }
        .fa {
          padding: 0 0 0 $spacing-small;
          color: $white;
        }
        &:last-of-type {
          a {
            padding: 0;
            &:after {
              content: none;
            }
          }
        }
      }
    }
  }


  .dropdown-pane{
    display: none;
  }

  .title-bar {
    padding-left: 0;
    color:$ben-franklin-blue;
    padding: .75rem 0 0;
    .menu-icon {
      text-align: center;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      width: auto;
      height: auto;
      padding: .75rem;
      margin-left:0;

      .fa {
        display: block;
      }
      &:after, &:before {
        background: $ben-franklin-blue;
        box-shadow: none;
        height: 0;
      }
      &.active {
        background-color: $ghost-gray;
      }
    }
    .title-bar-title {
      margin: 0;
      font-size: .65rem;
    }
  }
  .top-bar-right {
    .is-drilldown {
      ul {
        background-color: $ghost-gray;
      }
    }
  }
  @media only screen and (min-width: 40em) {
    .primary-menu {
      .menu>li {
        > a {
        padding: $spacing-large 1.5rem;
        }
        a:active, a:hover {
          color: $white;
          background-color: $ben-franklin-blue;
        }
      }
    }
    .service-menu-link ul li {
      display:none;
    }
    .dropdown-pane{
      display: block;
      width: 100% !important;
      border: 0;
      padding: 0;
      font-size: 1rem;
      left: 0 !important;

      .columns {
        text-align: left;
        padding-left: .25rem;
        padding-right: .25rem;

        &:first-of-type, &:last-of-type {
          padding-left: 0;
          padding-right: 0;
        }

        a {
          padding: $spacing-large;
          display:block;
          background-color: $ghost-gray;
          width: 100%;
        }
      }
      .mega-menu-footer {
        a {
          height: 50px;
          color: $white;
        }
        .left-arrow-indent:before {
          content: '';
          width: 0;
          height: 0;
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
          border-left: 20px solid $ghost-gray;
          position: absolute;
          margin-top: 0px;
        }
      }
    }
  }
}
