.global-nav {
  font-family: 'Montserrat', 'Tahoma', sans-serif;

  a:link, a:visited {
    font-weight: normal;
    font-size: .85rem;
  }
  .primary-nav {
    ul {
      background-color:$white;
    }
  }
  .secondary-nav {
    padding: .25rem 0;
    font-size: .85rem;

    ul {
      padding-right: 1.5rem;

      li {
        a {
          color: $white;
          padding: 0 0 0 $spacing-small;
          &:after {
            content: '|';
            padding-left: .5rem;
          }
        }
        .fa {
          padding: 0 0 0 $spacing-small;
          color: $white;
        }
        &:last-of-type {
          a {
            padding: 0;
            &:after {
              content: none;
            }
          }
        }
      }
    }
  }

  .top-bar{
    text-transform: uppercase;
  }

  .dropdown-pane{
    display: none;
  }

  .title-bar {
    color:$ben-franklin-blue;
    padding: 0;
    .menu-icon {
      position: relative;
    }

    .menu-icon {
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      width: auto;
      height: auto;
      padding: .75rem;
      margin-left:0;

      .fa {
        display: block;
      }
      &:after, &:before {
        background: $ben-franklin-blue;
        box-shadow: none;
        height: 0;
      }
      &.active {
        background-color: $ghost-gray;
      }
    }
    .title-bar-title {
      margin: 0;
      font-size: .8rem;
      text-transform: uppercase;
    }
  }
  .top-bar-right {
    .is-drilldown {
      ul {
        background-color: $ghost-gray;
      }
    }
  }
  @media only screen and (min-width: 40em) {
    .primary-menu {
      .menu>li {
        > a {
          padding: $spacing-large 1.5rem;
        }
        a:active, a:hover {
          color: $white;
          background-color: $ben-franklin-blue;
        }
      }
    }
    button.site-search {
      font-size: .5rem;
      color:$ben-franklin-blue;
    }
    .service-menu-link ul li {
      display:none;
    }
    .dropdown-pane{
      display: block;
      width: 100% !important;
      border: 0;
      padding: 0;
      font-size: 1rem;
      left: 0 !important;

      .columns {
        text-align: left;
        padding-left: 0;
        padding-right: 0;

         &:nth-of-type(2){
          padding-left: .25rem;
          padding-right: .25rem;
        }

        a {
          padding: $spacing-large;
          display:block;
          background-color: $ghost-gray;
          width: 100%;
        }
      }
      .mega-menu-footer {
        a {
          height: 50px;
          color: $white;
        }
        .left-arrow-indent:before {
          content: '';
          width: 0;
          height: 0;
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
          border-left: 20px solid $ghost-gray;
          position: absolute;
          margin-top: 0px;
        }
      }
    }
  }
  //TODO: this is actually just a setting in foundation. When we update patterns, this should be removed and $dropdownmenu-arrows set to true.
  .dropdown.menu > li.is-dropdown-submenu-parent {

  > a {
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: $ben-franklin-blue transparent transparent;
      border-top-style: solid;
      border-bottom-width: 0;
      right: 5px;
      margin-top: -2px;
    }
      .is-active:hover {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: $white transparent transparent;
        border-top-style: solid;
        border-bottom-width: 0;
        right: 5px;
        margin-top: -2px;
      }
    }
  }
  .is-dropdown-submenu-parent a::after {
      position: absolute;
      top: 50%;
      right: 5px;
      margin-top: -2px;
  }

}
