/*
 *
 * Home
 *
 *
*/
.neighborhood-resources {
  .row {
    .panel {
      background-color: rgba(255, 255, 255, 0.7);
      // max-width: 155px;
      // min-height: 161px;
      margin: 0 auto;

      .icon {
        margin-top: .75rem;
        margin-bottom: .75rem;
      }
    }
  }
  @media only screen and (min-width: 40em) {
    background:url("//alpha.phila.gov/media/20160526164514/calendar-bg.jpg") no-repeat center top;
    background-size: cover;

    .panel {
      max-width: 155px;
      min-height: 161px;
    }
  }
}

.feedback{

  .feedback-form {
    background: $ghost-gray;
  }

  .call-to-action {
    background: $bike-share-blue;
    text-transform: uppercase;

    span {
      text-decoration: underline;
    }
  }

  // Thanks CSS Tricks - https://css-tricks.com/snippets/css/css-triangle/

  .arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: 0 auto;
    border-top: 15px solid $bike-share-blue;
  }
  .up {
    background: $ghost-gray;
    .arrow {
      border-bottom: 15px solid $bike-share-blue;
      border-top: 0px solid $bike-share-blue;
    }
  }
}
