.inside-border-group{
  background: $ghost-gray;

  .inside-border-group-item{
    border: 1px solid $white;
    padding-left:0;
    padding-right:0;

    > a{
      &:hover{
        background:$ben-franklin-blue;
        color:$white;
      }
    }
  }
  a {
    div {
      .fa {
        margin-right:$spacing-medium;
      }
      display:table-cell;
      vertical-align:middle;
    }
  }
}
