.inside-border-group{
  background: $ghost-gray;

  &.break-thirds{
    .inside-border-group-item{
      @media only screen and (min-width: 40em) {
        &:nth-of-type(3n){
          border-right: 0;
        }
      }
    }
  }
  .inside-border-group-item{
    border-right: 2px solid $white;
    border-bottom: 2px solid $white;

    &:last-of-type{
      border-right: 0;
    }
  }
  a {
    &:hover{
      color:$ben-franklin-blue;
    }
    div {
      .fa {
        margin-right:$spacing-medium;
      }
      display:table-cell;
      vertical-align:middle;
    }
  }
}
