//Background colors
.bg-light-blue {
  background-color: #DAEDFE;
}

// Border colors
.bdr-ghost-gray {
  border-color:$ghost-gray;
}
.bdr-sidewalk {
  border-color:$sidewalk;
}
.bdr-dark-gray {
  border-color:$dark-gray;
}

.bdr-bottom-sm {
  border-bottom: 1px;
  border-bottom-style: solid;
  @media screen and (min-width: 40em) {
    border-bottom-width: 0px;
  }
}

// Vertical rules
.bdr-right{
  border-right-width: 1px;
  border-right-style: solid;
}

.bdr-right-mu {
  border-right: 0;
  @media screen and (min-width: 40em) {
    border-right-width: 1px;
    border-right-style: solid;
  }
}

.nbdr-right-mu {
  @media screen and (min-width: 40em) {
    border-right-width: 0px;
    border-right-style: solid;
  }
}

.columns-2-mu {
  @media screen and (min-width: 40em) {
    -moz-column-count: 2;
    -moz-column-gap: 1.42857rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.42857rem;
    column-count: 2;
    column-gap: 1.42857rem;
  }
}


.break-after {
  &:after {
    white-space: pre;
    content: '\A';
  }
}
.break-after-mu {
  @media screen and (min-width: 40em) {
    &:after {
      white-space: pre;
      content: '\A';
    }
  }
}

.break-before {
  &:before {
    white-space: pre;
    content: '\A';
  }
}
.break-before-sm {
  &:before {
    white-space: pre;
    content: '\A';
  }
  @media screen and (min-width: 40em) {
    &:before {
      white-space: normal;
      content: none;
    }
  }
}
.break-before-mu {
  @media screen and (min-width: 40em) {
    &:before {
      white-space: pre;
      content: '\A';
    }
  }
}

//TODO: Move to patterns

.border-bottom-sidewalk{
  border-bottom:1px solid $sidewalk;
}
.border-right-sidewalk{
  border-right:1px solid $sidewalk;
}
.border-left-sidewalk{
  border-left:1px solid $sidewalk;
}
.border-top-sidewalk{
  border-top:1px solid $sidewalk;
}

.sentence-case {
  &::first-letter {
    text-transform: capitalize;
  }
}
.inline-block {
  display: inline-block;
}

.list-style-none {
  list-style: none;
}

@media screen and (min-width: 40em) {
  .valign-mu {
    display: table;
    height: inherit;
  }
}
.full-width {
  width: 100%;
}

//This is a fix for issues related to scrolling on iOS
//TODO: move to _shame.scss in patterns
html.is-reveal-open{
   overflow: hidden;
}
.directory{
  .reveal {
    &.full {
      min-height: initial;
    }
  }
}

.item-fa-left-indent{
  margin-left:1.4rem;
}
//TODO: remove this from patterns
.vcard{
  margin: 0;
}

.valign-top{
  vertical-align: top;
}
.valign-bottom{
  vertical-align: bottom;
}

.hover-fade{
  opacity:1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

  &:hover{
    opacity: .6;
  }
}
