.inside-border-group{
  border-bottom: 2px solid $white;
  background: $ghost-gray;

  .inside-border-group-item{
    border-right:2px solid $white;

    &:last-of-type{
      border-right: 0;
    }
  }
  a {
    div {
      .fa {
        margin-right:$spacing-medium;
      }
      display:table-cell;
      vertical-align:middle;
    }
  }
}
