
.DS_Store
.env*
.vagrant
wp/readme.*
wp/xmlrpc.php
wp/composer.json
wp/composer.lock
wp/wp-config.php
wp/vendor
wp/wp-content/debug.log
wp/wp-content/uploads/
wp/wp-content/plugins/meta-box-*
wp/wp-content/plugins/mb-*
wp/wp-content/plugins/mb-relationships
wp/wp-content/plugins/two-factor-authentication-premium/
wp/wp-content/plugins/wpfront-user-role-editor-personal-pro/
wp/wp-content/plugins/wp-nested-pages/
wp/wp-content/plugins/meta-box-text-limiter/
wp/wp-content/plugins/disable-gutenberg/
wp/wp-content/plugins/amazon-s3-and-cloudfront/
wp/wp-content/plugins/better-search-replace/
wp/wp-content/plugins/classic-editor/
wp/wp-content/plugins/meta-box/
wp/wp-content/plugins/miniorange-saml-20-single-sign-on/
wp/wp-content/plugins/tinymce-advanced/
wp/wp-content/plugins/wp-rest-api-v2-menus/
wp/wp-content/plugins/wordpress-importer/
wp/wp-content/plugins/reusable-text-blocks
wp/wp-content/plugins/jwt-authentication-for-wp-rest-api
wp/wp-content/plugins/gathercontent-import
wp/wp-content/plugins/jwt-auth/
wp/wp-content/plugins/easy-wp-smtp/
wp/wp-content/themes/phila.gov-theme/yarn-error.log
node_moddules
# Ignore compiled files
wp/wp-content/themes/phila.gov-theme/css/styles.css
wp/wp-content/themes/phila.gov-theme/css/styles.css.map
wp/wp-content/themes/phila.gov-theme/css/styles.min.css
wp/wp-content/themes/phila.gov-theme/css/styles.min.css.map
wp/wp-contnet/themes/phila.gov-theme/css/base.css
wp/wp-contnet/themes/phila.gov-theme/js/app.js
wp/wp-contnet/themes/phila.gov-theme/js/main.js
wp/wp-content/themes/phila.gov-theme/js/phila-scripts.js
wp/wp-content/themes/phila.gov-theme/js/phila-scripts.min.js
wp/wp-content/themes/phila.gov-theme/js/phila-scripts.min.js.map

# OSX file
.DS_Store

.vscode/*
