.env*
.vagrant
wp/readme.*
wp/xmlrpc.php
wp/wp-config.php
wp/wp-content/debug.log
wp/wp-content/uploads/
wp/wp-content/plugins/meta-box-*
wp/wp-content/plugins/mb-*
wp/wp-content/plugins/wpfront-user-role-editor-personal-pro/
wp/wp-content/themes/phila.gov-theme/yarn-error.log
node_moddules
# Ignore compiled files
wp/wp-content/themes/phila.gov-theme/css/styles.css
wp/wp-content/themes/phila.gov-theme/css/styles.css.map
wp/wp-content/themes/phila.gov-theme/css/styles.min.css
wp/wp-content/themes/phila.gov-theme/css/styles.min.css.map
wp/wp-contnet/themes/phila.gov-theme/css/base.css
wp/wp-contnet/themes/phila.gov-theme/js/app.js
wp/wp-contnet/themes/phila.gov-theme/js/main.js
wp/wp-content/themes/phila.gov-theme/js/phila-scripts.js
wp/wp-content/themes/phila.gov-theme/js/phila-scripts.min.js
wp/wp-content/themes/phila.gov-theme/js/phila-scripts.min.js.map
