
  .featured {
    background-color: #f0f0f0;
    padding: 3rem 0 5rem 0;

    hr {

      margin: 0 auto;
      border: 5px solid #2176d2;
    }
    .featured-grid {
      margin: 0 auto !important;

      .featured-content{
        background-color: white;
        padding-left: 1.5rem;
      }
      .date-published {
        color: #444;
      }
      .featured-item {
        margin: 3rem 0;
      }

      .post-label {
        font-family: "Times New Roman Italic", "Times New Roman", sans-serif;
        font-style: italic;
        color: #0f4d90;
        font-size: 30px;
      }
      img {
        max-width: auto;
        width: 100%;
      }

      a.faux-card:hover {
        cursor: pointer;

        img{
          opacity: .4;
        }
        .featured-content {
            background-color: #0f4d90;
        }
        .post-label {
          color: #fff;
        }
        .date-published {
          color: #fff;
        }
      }
    }
  }

  a.press-release{
    background-color: color(ghost-gray);
    font-size: 2rem;
    margin: 3rem 0;
    padding: 2rem;
    display: block;
    text-decoration: none;


    h3{
      font-style: italic;
      margin-bottom: 1rem;

    }
    .post-meta {
      color: #444;
    }

    .fa {
      font-size: 5rem;
    }
  }