/*
  Styles for IE 9 and later
*/

#page{
  width:900px;
  margin:0 auto;
}
header{
  display: block;
}
header .columns{
  float:none;
}
img{
  width: auto !important;
  /*purposefully break what is in patterns */
  max-width: auto !important;
  height:auto !important;
}

img.hidden-hero, .small-thumb{
  width:50% !important;
}

.browsehappy{
  padding:20px;
  background: #f2c612;
}

nav li{
  padding:5px;
}

/*hide what we would normally show on mobile */
#mobile-nav,
.show-for-small-only,
.home .hero-content,
.home .process,
.top-bar{
  display:none !important;
}

.fa{
  padding:10px;
}

.column, .columns{
  padding:20px;
}
/*nested grid*/
.column .column, .columns .columns{
  padding:0 20px;
}
.card {
  width: 300px;
}
.card img{
  width:250px;
}

.row::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.columns{
  float:left;
}
/*TODO: recreate entire grid system for IE with fixed widths) */
.medium-1{
  width:35px;
}
.medium-6{
  width:210px;
}
.medium-8{
  width: 280px;
}

.medium-17{
  width:595px;
}
.cell{
  float:right;
}

footer.site-footer{
  background: white;
  color: black !important;
}
