#mobile-nav {
  // sass-lint:disable-line no-ids
  padding-right: 0;
  padding-left: 0;

  nav {
    width: 100%;
  }
}

.global-nav {
  @include secondary-font(400);
  position: relative;
  z-index: 1000;

  ul {
    font-size: 14px;
    
    li.gov-site.show-for-medium {
      font-size: .85rem;

      a.trusted-site-toggle {
        font-size: .85rem;
      }
    }
  }

  &.no-js {
    //prevent content from jumping down after JS is loaded
    min-height: 95px;
  }

  .js-is-current {
    color: white;
    background: color(dark-ben-franklin);

    &:hover,
    &:active {
      color: color(dark-ben-franklin);
      background: color(light-blue);
    }
  }

  a:link,
  a:visited {
    font-weight: normal;

    @include breakpoint(medium up) {
      font-size: 1rem;
    }

  }

  //utility nav
  .utility-nav {

    .grid-container {
      padding: 0px;

      @media screen and (min-width: 780px) {
        .show-for-medium {
          display: inline-block !important;
        }

        .show-for-small-only {
          display: none !important;
        }
      }

      @media screen and (max-width: 779px) {
        .show-for-small-only {
          display: block !important;
        }

        .show-for-medium {
          display: none !important;
        }
      }

      .top-bar-left {
        margin-left: .5rem;
      }
    }

    background: color(ghost-gray);
    font-size: 1rem;

    @include top-bar-unstack;

    @include breakpoint(small only) {
      min-height: 42px;
    }

    ul {

      background: color(ghost-gray);



      li {
        
        &:last-of-type::after {
          content: none;
        }

        &::after {
          display: inline;
          background: color(ghost-gray);
          content: none;
        }

        a {

          padding: 1rem 8px 1rem 8px !important;
          color: color(dark-ben-franklin);
          text-align: center;

          &.trusted-site-toggle {
            font-weight: bold;
            padding-left: 4px !important;

            i.fa-caret-down::before {
              padding-left: 4px;
            }

            &.open>i.fa-caret-down::before {
              content: "\f0d8"
            }
          }

          &:hover,
          &:active {
            color: color(dark-ben-franklin);
            background: color(ghost-gray);
            text-decoration: underline;
          }

          &.js-is-current {
            background: color(ghost-gray);
            color: color(dark-ben-franklin);
            text-decoration: underline;
            font-weight: bold;

            &:hover,
            &:active {
              color: color(dark-ben-franklin);
              background-color: color(ghost-gray);
            }
          }
        }
        
        &.gov-site {

          span {
            color: black;
            padding: $spacing-small;
          }

          a {
            text-decoration: underline;
          }

          &::after {
            display: none;
          }
        }
      }
    }

    .translations-nav {
      background: color(ghost-gray);

      .translations-bar>button.translations-button {
        a {
          padding: .5rem;
          font-weight: bold;
          text-decoration: underline;
          text-transform: capitalize;
        }
      }

      .goog-te-combo {
        font-size: 1rem;
      }

      .goog-te-combo:focus {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
      }

      .translations-bar>input,
      select,
      button.translations-button {
        margin: 0;
        display: inline-block;
        padding: .5rem;
        border: 0px;
        background: color(ghost-gray);
        color: color(dark-ben-franklin);

        .show-for-small-only {
          display: inline-block !important;
        }

        :hover {
          color: color(dark-ben-franklin);
          cursor: pointer;
        }
      }

      /* Styles for screens between 600px and 900px */
      @media screen and (min-width: 780px) and (max-width: 950px) {
      
        #lang-dropdown {
          transform: translateX(-7%) !important;
        }
      }

      @media screen and (min-width: 780px) {

        .show-for-small-only {
          display: none !important;
        }

        #lang-dropdown {
          position: absolute;
          border: #CFCFCF;
          border-width: 0 1px 1px 1px;
          border-style: solid;
          min-width: 230px;
          width: inherit !important;
          z-index: 1001;
          top: inherit !important;
          left: revert !important;
          transform: translateX(9%);

          li {
            :hover {
              background-color: color(dark-ben-franklin);
              color: white;
            }
          }
        }

        .dropdown.menu>li>a {
          padding: 1rem .5rem !important;
          width: 100%;
          text-align: left;
        }
      }

      @media screen and (max-width: 779px) {

        .show-for-small-only {
          cursor: pointer;
        }

        .show-for-medium {
          display: none !important;
        }

        #lang-dropdown {
          width: 101vw;
          height: 101vh;
          transform: translateX(-100%);
          left: 100% !important;
          top: inherit !important;
          background-color: color(ghost-gray);

          li>a {
            padding-left: 2rem !important
          }
        }
      }

      .dropdown.menu>li {
        a {
          font-size: 1rem;
          background: color(ghost-gray);
        }

        a.active {
          font-weight: bold;
          text-decoration: none;
        }

        &.is-active>a {
          color: color(dark-ben-franklin);
          text-decoration: none;
        }

        &.is-dropdown-submenu-parent>a::after {
          content: none;
        }
      }

      #translations-menu {
        //hidden languages in dropdown menu
        #translate-haitian-creole-dropdown {
          display: none;
        }
        
        #translate-french-dropdown {
          display: none;
        }
        
        #translate-swahili-dropdown {
          display: none;
        }
        
        #translate-portuguese-dropdown {
          display: none;
        }
        
        #translate-russian-dropdown {
          display: none;
        }
        
        #translate-vietnamese-dropdown {
          display: none;
        }

        #translations-support>a {
          font-weight: bold;
          text-decoration: underline;
        }

        li {

          a {
            background: color(ghost-gray);
            text-align: left;
            display: block;

            &:hover {
              text-decoration: underline;
              color: white;
              background-color: color(dark-ben-franklin);
            }
            
            .fa {
              margin-right: 8px;
            }
          }
        }
      }

      #google_translate_element {
        display: inherit;
        padding: inherit;
        color: color(dark-ben-franklin);

        &:hover {
          color: white !important;
          background-color: color(dark-ben-franklin);
        }

        .goog-te-gadget {
          
          position: relative;
          display: block;
          color: color(dark-ben-franklin);

          &:hover {
            color: white;
            background-color: color(dark-ben-franklin);
          }

          i.fa-plus {
            position: absolute;
            z-index: auto;
            pointer-events: none;
            top: 25%;

            @media screen and (max-width: 779px) {
              left: 2rem;
            }

            @media screen and (min-width: 780px) {
              left: .5rem;
            }
          }

          select {
            color: color(dark-ben-franklin);
            font-family: "Montserrat", "Tahoma", sans-serif;
            min-height: 42px;

            @media screen and (max-width: 779px) { 
                padding-left: 3.5rem;
            }

            @media screen and (min-width: 780px) {
                padding-left: 2rem;
            }

            &:hover {
              color: white;
              background-color: color(dark-ben-franklin);
              cursor: pointer;
            }

            &:option {
              color: red;
            }
          }

          .fa-globe::before {
            display: none;
          }

          ::after {
            display: none;
          }

          a {
            display: block;
            text-transform: capitalize;
            text-align: left;
            font-family: "Montserrat", "Tahoma", sans-serif;
            padding-left: 1rem !important;

            @media screen and (max-width: 779px) {
              .show-for-small-only {
                padding-left: 2rem !important;
              }
            }


            &:before {
              margin-right: 8px;
              font: var(--fa-font-solid);
              font-size: 1rem;
              font-weight: bold;
              content: "\2b";
            }

            &:hover {
              color: white;
              background-color: color(dark-ben-franklin);
            }

            &:hover::before {
              color: white;
              background-color: color(dark-ben-franklin);
            }
          }
        }
      }

      .dropdown-selector>span {
        font-weight: bold;
      }

      .translations-dropdown li>a {

        &:hover,
        &:active {
          background: color(dark-ben-franklin);
          color: white;
          text-decoration: underline;
        }
      }

      @media screen and (min-width: 780px) {
        .translate-caret {
          padding: 0 .5rem 0 .5rem;
          &.rotated {
            transform: rotate(180deg);
            padding: 0 .5rem 0 .5rem;
          }
        }
      }

      @media screen and (max-width: 779px) {
        .translate-caret {
          &.rotated {
            transform: rotate(180deg);
          }
        }
      }
      .active {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }


  .sticky {
    // sass-lint:disable-block no-important
    background: white;
    width: 100% !important;
    max-width: 100% !important;
    left: 0 !important;

    @include breakpoint(small only) {
      top: 0 !important;
    }

    &.is-stuck {
      box-shadow: 0 3px 10px rgba(color(medium-gray), .5);
    }

    .sticky-header-width {
      max-width: 75rem;
      margin-left: auto;
      margin-right: auto;
    }

  }


  .menu-icon {
    position: relative;
    min-width: 56px;
    width: auto;
    height: auto;
    padding: 1.3rem;
    margin-left: 0;
    background: white;
    color: color(dark-ben-franklin);

    .fass {
      font-size: 1.5rem;
    }

    .fa {
      display: block;
    }

    &:after,
    &:before {
      background: color(dark-ben-franklin);
      box-shadow: none;
      height: 0;
    }

    &.active {
      background-color: color(ghost-gray);
      color: color(dark-ben-franklin);
    }
  }

  .title-bar-title {
    margin: 0;
    font-size: .8rem;
    text-transform: uppercase;
    display: block;

  }

  .is-drilldown {
    max-width: 100% !important; // sass-lint:disable-line no-important
    background: color(ghost-gray);

    ul {
      width: 100%;

      li {
        background: color(ghost-gray);
        list-style: none;
        border-bottom: 1px solid white;

        &.bg-sidewalk {
          background: color(sidewalk);
        }

        &.js-drilldown-back {
          text-transform: uppercase;
          font-size: .9rem;
        }

        a {
          display: block;
          padding: 1rem 2rem 1rem 1rem;
          line-height: 1;

          &:hover,
          &:active {
            background: color(dark-ben-franklin);
            color: white;
          }
        }
      }
    }

    .is-submenu-parent-item {
      font-size: 1.3rem;

      a:link,
      a:hover,
      a:active {
        background: color(ghost-gray);
        cursor: default;
        color: black;

      }
    }

    .is-drilldown-submenu-parent>a {
      &::after {
        right: 2rem;
      }

      &:hover::after,
      &:active::after {
        border-color: transparent transparent transparent white;
      }
    }

    .js-current-section {
      padding: .5rem 1rem;
      font-size: 1.3rem;
      text-transform: none;
    }
  }


  .js-drilldown-back {

    >a:hover::before,
    >a:active::before {
      border-color: transparent white transparent transparent;
    }
  }

  .top-bar-right {
    width: 100%;
  }

  @include breakpoint(small only) {
    .mega-menu-dropdown.dropdown-pane {
      display: none;
    }

    .top-bar {
      top: 0;
      background-color: white;

      &.no-js {
        display: none;
      }
    }

  }

  .top-bar-right .menu>li {
    >a:link {
      @media screen and (min-width: 800px) and (max-width:950px) {
        padding: 2rem .5rem;
      }

      .news-menu-link a {
        min-width: 80px;
      }

      .global-nav .services-menu-link a {
        padding: 2rem 2rem 2rem .75rem !important;
      }

      a.logo {
        width: 120px;
      }
    }
  }

  @include breakpoint(medium) {
    .services-menu-link {
      position: static;
    }

    .menu.medium-horizontal>li {
      height: inherit;
    }

    .primary-menu {
      ul {
        background-color: white;
      }

      .menu {
        display: flex;
        list-style-type: none;
        position: relative;

        li {
          flex: 1;

          >a {
            text-align: center;
            height: inherit;
            font-weight: 650;
            font-size: 14px;
            text-transform: none !important;
            padding: 2rem 1.7rem;
          }

          a:active,
          a:hover {
            color: color(dark-ben-franklin);
          }
        }
      }
    }

    .services-menu-link {
      position: relative;
      height: inherit;

      ul {
        li {
          display: none;
        }
      }

      //TODO: some of this could be cleaned up
      //big arrow
      &.hover::after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;

        border-bottom: 1rem solid color(ghost-gray);
        bottom: 0;
        left: 38%;
        right: 50%;
        position: absolute;
      }

      //this is to account for when the dropdown panel is visible AND when the normal :hover state is active
      &.hover {
        background: color(dark-ben-franklin);

        //panel is open
        a {
          color: white;

          &:hover::after,
          &:active::after {
            border-color: transparent transparent color(dark-ben-franklin);
          }

          &.js-is-current {
            &::after {
              border-color: transparent transparent white;
            }

            //panel is open, and there is hover
            &:hover::after,
            &:active::after {
              border-color: transparent transparent color(dark-ben-franklin);
            }
          }

          //little arrow
          &::after {
            display: inline;
            margin: auto 0;
            content: '';
            width: 0;
            height: 0;
            border: inset 5px;
            border-color: transparent transparent white;
            border-bottom-style: solid;
            border-top-width: 0;
            height: 0;
            left: 74%;
            position: absolute;
            float: none;
            top: 0;
            bottom: 0;
            height: 10px;
          }
        }
      }

      //not open
      a {
        padding: $spacing-large 2.5rem $spacing-large 1.5rem !important; // sass-lint:disable-line no-important
        height: inherit;

        &:hover::after,
        &:active::after {
          border-color: color(dark-ben-franklin) transparent transparent transparent;
        }

        &::after {
          //little arrow
          display: inline;
          margin: auto 0;
          content: '';
          width: 0;
          height: 0;
          border: inset 5px;
          border-color: color(dark-ben-franklin) transparent transparent;
          border-top-style: solid;
          border-bottom-width: 0;
          left: 74%;
          position: absolute;
          float: none;
          top: 0;
          bottom: 0;
          height: 10px;
        }

        &.js-is-current {
          color: white;
          background: color(dark-ben-franklin);

          &::after {
            border-color: white transparent transparent transparent;
          }

          &:hover::after,
          &:active::after {
            border-color: color(dark-ben-franklin) transparent transparent transparent;
          }
        }
      }
    }
  }

  .dropdown-pane {
    // sass-lint:disable-block no-important
    border: 0;
    padding: 0;
    font-size: 1rem;
    z-index: 10000;
    position: fixed;

    .placeholder {
      background: color(ghost-gray);
      min-height: 4.8rem;
    }

    .inner-wrapper .columns {
      text-align: left;
      border-left: 2px solid white;
      border-right: 2px solid white;
      border-bottom: 4px solid white;
      padding-left: 0;
      padding-right: 0;

      a {
        display: block;
        padding: 1.5rem 0 1.5rem 1rem;
        background-color: color(ghost-gray);
        width: 100%;

        &:hover {
          color: white;
          background: color(dark-ben-franklin);
        }

        .text-label {
          display: inline-block;
          width: 100%;
          line-height: 1.2;
          vertical-align: middle;
          max-width: calc(100% - 45px);
          font-size: 14px;
        }

        span {
          display: block;

          i {
            display: inline-block;
            vertical-align: middle;
            padding-right: 0.8rem;
            font-size: 20px;
          }
        }
      }
    }

    .mega-menu-footer {
      height: 61px;
      border-left: 2px solid white;
      border-right: 2px solid white;

      a {
        padding: 1.5rem 4rem;

        color: white;

        &:hover {
          background: white;
          color: color(dark-ben-franklin);
        }
      }

      &.left-arrow-indent {
        position: relative;

        &:before {
          margin: auto 0;
          content: '';
          width: 0;
          height: 0;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          border-left: 33px solid color(ghost-gray);
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  .dropdown.menu {
    a {
      //added to override patterns display:block
      display: inherit;
    }
  }

  #services-list {
    
    // sass-lint:disable-line no-ids
    .inner-wrapper {
      width: 100%;
      height: 100%;
      background: transparent;
      overflow: scroll;
    }
  }

  .site-search-container {
    @include breakpoint(small only) {
      padding: 0px;
    }

    button.site-search {
      font-size: .5rem;
      position: relative;
      padding: 1rem 0;
      cursor: pointer;
      font-weight: normal;
      background: none;

      .fass {
        font-size: 1.5rem;
      }

      @include breakpoint(medium up) {
        margin-top: .75rem;
      }

      @include breakpoint(small only) {
        min-width: 60px;
        font-size: inherit;
        float: right;
        padding: 1.3rem;

        .fa {
          display: block;
          padding-bottom: $spacing-small;
          font-size: 3.7em;
        }
      }

      color:color(dark-ben-franklin);
      text-transform: uppercase;

    }
  }

  .menu-icon-container {
    @include breakpoint(small only) {
      padding: 0px;
    }
  }

}

@media screen and (min-width:950px) {
  .news-menu-link {
    min-width: 115px;
    a {
      padding: 2rem 1rem !important;
    }
  }
}

header {
  .logo-container {
    @include breakpoint(small only) {
      padding: 0px;
    }
  }
  .logo {
    display: block;
    margin: 0.5rem auto !important;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    width: 170px; //magic number for the size of the logo

    &:hover {
      opacity: .6;
    }

    @include breakpoint(small only) {
      margin: .75rem auto 0 auto;
    }

  }

  #trusted-site {
    display: none;
    background-color: #0c59a6;

    .columns {
      margin: 0px;
      padding-right: 20px;

      .trust-icon {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5rem;
        color: white;
        width: 100px;
        display: inline-block;
        vertical-align: middle;
        
        .circle-icon {
          line-height: 1.5rem;
          align-items: center;
          display: inline-flex;
          justify-content: center;
          border-radius: 50%;
          background-color: #fff;
          width: 1.5rem;
          height: 1.5rem;
          text-align: center;
          font-size: 1rem;
          color: #2176d2;
          margin-right: 0.1rem;
        }

        .icon-text {
          font-size: 1.25rem;
          font-weight: 600;
          line-height: 1.5rem;
        }
      }

      .trust-details {
        display: inline-block;
        width: calc(100% - 105px);
        vertical-align: middle;
        line-height: 1.1;
        font-size: 0.85rem;
        color: #fff;

        strong {
          color: #fff;
        }
      }

      &.dot-gov {
        @include breakpoint(small only) {
          padding-top: 10px;
        }

        .trust-icon {
          @include breakpoint(medium up) {
            width: 80px;
          }
        }

        .trust-details {
          width: calc(100% - 105px);
        }
      }
    }

    #trusted-site-close {
      color: #fff;
      position: absolute;
      margin-left: -40px;

      @include breakpoint(small only) {
        margin-left: -20px;
      }
    }
  }
}

//Global search
.site-search-dropdown {
  .arrow {
    position: relative;

    &::before {
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-bottom: 1rem solid color(ghost-gray);
      top: -1rem;
      position: absolute;
      right: .6rem;

      @include breakpoint(medium) {
        right: 1rem;
      }
    }
  }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.skip-to-content {
  white-space: nowrap;
  margin: 1em auto;
  top: 0;
  position: fixed;
  left: 50%;
  margin-left: -72px;
  opacity: 0;
  color: white !important;
}

.skip-to-content:focus {
  transform: translateY(0%);
  opacity: 1;
  background-color: #0f4d90;
  padding: 0.5em;
  border: 1px solid black;
  z-index: 10001;
}

