.event-spotlight nav {
  a:hover,
  a:active{
    color: color(kelly-drive-green);
  }
}

#spotlight-header img{
  width:100%;
  height: 100%;
}
.spotlight-date{
  font-size: 1rem;
  font-family: "Montserrat";
}
