.hero-half{
  @include breakpoint(large up) {
    .hero-half--title{
      width:510px;
    }
  }

  .hero-half--container{
    background-image: url('../img/bg/libery-bell-10-percent.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-size: 3rem;
    margin-top:0;
  }

  .description{
    font-size: 1.6rem;
  }
  .hero-image{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
  }
  .photo-credit {
    display:none;
    @media only screen and (min-width: 64em) {
      display: inline-block;
      font-style: italic;
      font-size: .75rem;
      color: color(medium-gray);
      padding: .25rem .5rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .owner-logo{
    img{
      max-height: 50px;
    }
    .sep{
      height: 1px;
      background: white;
      width: 150px;
      margin-bottom:1rem;
    }
  }

}
