.image-list {
  img{
    max-width: 200px;
    height:auto;
  }
}

.phila-image-caption {
  background-color: #f0f0f0;
  p {
    font-size: 14px;
    margin-bottom: 0.25rem;
    font-style: italic;
    font-weight: 600;
  }
}

.phila-lightbox-feature {
  p {
    font-size: 14px;
  }
}